[2016-04-16 09:19] MaximeBaudette opened #1 "Cleaning up the repository"
Here is a thread to gather all the different tasks to do now that we have forked the repository before making it public. I want to make sure we didn't miss anything.

- [x] Update the Documentation
- [x] Upload the Wiki and update it
- [x] Remove Eurostag/DTU models
- [x] Fix links in description

[2016-04-18 07:54] tinrabuzin opened #2 "PSSE generators not working in OpenModelica"
Due to the issue with OpenModelica (https://trac.openmodelica.org/OpenModelica/ticket/2902) our generators are not initialising properly in OpenModelica.

[2016-04-18 08:29] tinrabuzin opened #5 "Package structure"
Some components are inside packages that have the same name as the component. E.g., PSSE.ES.ESDC1A.ESDC1A. These upper packages should be removed.

[2016-04-18 13:51] #2 closed

[2016-04-18 17:09] MaximeBaudette opened #7 "PSSE Transformer package"
Sort out what to do with the _Old_transformer_ subpackage

[2016-04-18 17:10] tinrabuzin commented on #7
It has some parts which could be scraped for tap changer model, I think. But I haven't had time to sort it out.

[2016-04-18 17:19] #5 closed

[2016-04-18 17:21] MaximeBaudette opened #8 "Fixing the bad import statements"
In many files there was a `import iPSL` statement that was changed into `import iPSL = OpenIPSL` when renaming the library.
This statement introduces compatibility issues with OM and should be removed.

[2016-04-19 08:53] #8 closed

[2016-04-19 09:27] MaximeBaudette opened #12 "Fixing wrong (old) line model components"
There are still some examples using the old line model components which where removed from the library a while ago.
e.g. OpenIPSL.Examples.Controls.PSAT.AVR.AVRTypeII_Test

[2016-04-19 09:41] MaximeBaudette opened #13 "Fixing Components using Sensors"
After merging #10 there is no longer the sensor package. The component ESST4B should be reimplemented without the sensor it is using

[2016-04-19 11:43] tinrabuzin opened #14 "PSSE Wind Turbine (WT) package implementation"
WT3 Example: Due to some parameters which are not defined, the example won't check.

[2016-04-19 11:57] MaximeBaudette commented on #13
The *Old_transformer.ThreeWinding* is also using a sensor

[2016-04-19 11:58] tinrabuzin commented on #13
@MaximeBaudette Then we have to fix that too.

[2016-04-19 12:18] #12 closed

[2016-04-20 08:04] dietmarw opened #16 "Publish OpenIPSL also on impact (and therefore modelica.org/libraries)"
Just a small reminder that as soon as you feel ready that I can add OpenIPSL also to the impact package index on impact.github.io

[2016-04-20 08:36] MaximeBaudette commented on #16
I was discussing with @tinrabuzin and we feel that we are very close to cleaning the library from all "model check" errors. When we have that done, we will make a release of it and you can add it on impact.

[2016-05-02 10:01] MaximeBaudette opened #21 "Update of SCRX"
In IEEESGO test example:
attempt of modifying 'V_0' and 'V_c0" in SCRX, which are not parameters declared in SCRX

[2016-05-02 12:30] MaximeBaudette commented on #13
The *SVC* is also using PwVoltage

[2016-05-02 14:30] #21 closed

[2016-05-02 14:34] MaximeBaudette opened #22 "KTH Solar package won't check"
Issue with OpenIPSL.Electrical.Solar.KTH.Auxiliary.CurrentLimitdeadband.

[2016-05-03 11:04] MaximeBaudette opened #26 "Automatic Validation with Travis CI"
Issue to discuss creating a framework for adding the possibility of automatic validation of the model by the CI server.

[2016-05-09 14:09] MaximeBaudette commented on #26
Some of the components are failing cause of a problem in OM with replaceable components:
https://trac.openmodelica.org/OpenModelica/ticket/2079

[2016-05-10 14:29] tinrabuzin opened #30 "Expandable bus causing problems in OM"
I noticed that in OM for examples N44 and SevenBus, expandable bus causes the number of equations to be higher than the number of variables in the model and, thus, the systems cannot be simulated.

[2016-05-10 14:53] tinrabuzin commented on #30
I replaced all of the expandable buses with the regular ones and the seven bus simulated with the results that are the same as the ones in Dymola.

[2016-05-10 14:55] MaximeBaudette commented on #30
I don't know how to proceed about that...
Because on one side, the expandable bus makes it very nice to have a good overlook of the system.
On the other side, it prevents simulation in OM... Should we just duplicate the models and use simple buses in the duplicate model?

[2016-05-10 14:57] tinrabuzin commented on #30
@MaximeBaudette Expendable bus works in the example from MSL so I guess this is due to our implementation. I'll investigate it a bit more.

[2016-05-10 14:57] MaximeBaudette commented on #30
ok

[2016-05-11 10:41] #30 closed

[2016-05-11 11:25] tinrabuzin commented on #30
Both N44 and SevenBus can now be simulated in OM after all of the fixes.

[2016-05-11 12:48] tinrabuzin opened #37 "Model IEEEST needs to be updated"
In this model we modify size of some arrays in the initial equation via calculated integer parameters. As far as I understood, such models will be rejected according to the ticket in OM (https://trac.openmodelica.org/OpenModelica/ticket/2723) and Modelica specifications.

[2016-05-11 13:19] MaximeBaudette commented on #14
Shall we then rename this issue ? to PSSE WT Fix ?

[2016-05-11 13:19] tinrabuzin commented on #14
Yes, we can do that.

[2016-05-11 14:57] #13 closed

[2016-05-11 16:09] MaximeBaudette commented on #26
Current implementation of the CI does NOT produce an error when the library fails to load

[2016-05-11 16:16] #37 closed

[2016-05-11 16:16] #22 closed

[2016-05-11 16:17] tinrabuzin commented on #22
Fixed with SHA:5d0f148a465a6797137e5ac6e3e56a8879b6a980

[2016-05-13 11:06] MaximeBaudette opened #47 "Toolkit to prepare the release of the lib"
I prepared a script to update the Copyright info of the entire library, but stumbled upon a problem with OM Shell.
Submitted a bug to OM about that
https://trac.openmodelica.org/OpenModelica/ticket/3907

[2016-05-18 13:09] Krokkodilli opened #51 "Wrong parameter naming in GENROU"
It is written for parameter X_pd : ''Sub-transient reactance (pu)''. It should be "q-axis transient reactance''

[2016-05-18 15:03] MaximeBaudette commented on #51
@Krokkodilli
That's an easy fix! You should try to fix it yourself so you get a grip on the workflow

[2016-05-19 09:24] #51 closed

[2016-05-24 09:44] lvanfretti opened #53 "Request for a Release for the 2016-05-25 ENTSO-E IOP Webinar on OpenIPSL"
Hi @MaximeBaudette and @tinrabuzin

Today I gave a webinar to the ENTSO-E IOP group regarding OpenIPSL.
I was wondering if you can make a release for them with my slides, the Tutorial package, and other materials.

I was wondering if we can create a top-level folder with the Tutorial.mo package so that it gets included in the CI tests and that is always working with the latest version of the libra

[2016-05-24 10:00] MaximeBaudette commented on #53
I don't really understand what you want in *Tutorial.mo*:
 1. Some reference examples used in the tutorial ?
 2. A striped-down version of the library + examples compiled in a single file

In case 1, that can be done by creating one additional */Application Example* that we could call tutorial.
In case 2, I'm opposed to it.
The tutorial should use the library as it is, instead of requiring to deve

[2016-05-24 10:08] lvanfretti commented on #53
Now it is not necessary to used a stripped library.
It is just the examples.

Can you check if it would work in this situation?

On Tue, May 24, 2016 at 12:00 PM, Maxime Baudette <notifications@github.com>
wrote:

[2016-05-24 10:41] MaximeBaudette commented on #53
I'll look at it later in the afternoon.

[2016-05-25 13:29] #53 closed

[2016-05-26 11:02] MaximeBaudette opened #55 "Incompatibility Jmodelica and PwLine model ?"
Today I was trying to generate some FMUs using Jmodelica and I got the following error message from Jmodelica for the PwLine model:

About the line:

It seems that the a+_j_b syntax is not well supported by Jmodelica, despite presenting no issues in OM or Dymola.
Anyone has some experience on the question ?

[2016-05-26 11:03] janlav commented on #55
Maybe it should be noted that `is = Complex(re=0,im=0)` works.

[2016-05-26 11:07] MaximeBaudette commented on #55
Yes true,
Though I find the `j`syntax to be easier to read, and also it is the documented way of using the complex package see [OM Link](https://www.modelica.org/news_items/modelica-standard-library-3.2-released).

So I'm not sure we should change the syntax if it actually is JModelica that has a problem.

[2016-05-26 11:43] MaximeBaudette commented on #55
Seems like @fran_jo got the same issue but reported it to JModelica:
http://www.jmodelica.org/27707

[2016-05-26 13:20] MaximeBaudette commented on #55
Update:

It seems Jmodelica has problems dealing with complex numbers when the imaginary part is 0, using a syntax different from Complex(re,im).

[2016-05-26 18:46] lvanfretti commented on #55
@MaximeBaudette SystemModeler is also not working with the complex number line model.

I think we need to support the older line model, and have the complex number one as an option.
When the Modelica compilers (other than Dymola and OM) don't have a problem with this, it should be possible to switch.

Maybe the line model itself could have a flag that detects which IDE is being used and enables th

[2016-05-31 13:47] sorrento opened #58 "Wrong link in readme.md"
to the wiki
in the section "notice to users"
https://github.com/SmarTS-Lab/OpenIPSL/blob/master/update%20link

[2016-06-02 08:30] MaximeBaudette commented on #58
I'm working on updating the documentation, but it has been slower than expected, sorry for the inconvenience

[2016-06-02 08:41] lvanfretti commented on #58
I hope to have time in July also to contribute...

[2016-06-02 09:05] sorrento commented on #58
Sorry I didn't explain well:
In the readme.md, on the section  https://github.com/SmarTS-Lab/OpenIPSL#notice-to-users
the link to the wiki there leads to a "**error 404 page not found**".
I just say, since you already have some content on the wiki, put the correct url, that is
https://github.com/SmarTS-Lab/OpenIPSL/wiki
 That's all.

Thanks!

[2016-06-17 09:34] lvanfretti opened #64 "Wiki - Editing Footers with OpenIPSL Logo?"
@MaximeBaudette I was trying to change the logo in: [https://github.com/SmarTS-Lab/OpenIPSL/wiki/Project-and-Community](here), and all the other child pages of the wiki, but because I am not so smart I could not figure out.

Can you tell me how to do it? Or can you put the puppy logo in all the footers?

Thank you!

Luigi

[2016-07-01 15:23] dietmarw opened #67 "Copyright assignment clause unclear or even invalid"
I've just read the [Copyright Assignment clause](https://github.com/SmarTS-Lab/OpenIPSL#copyright-assignment) and this sentence does not make much sense:

Who are or what is "the iPSL" supposed to be. The library is called OpenIPSL but you can not assign a copyright to a library but to some legal entity.

I have a alternative proposal. Have a look at https://www.clahub.com/ and maybe use that one.

[2016-07-03 18:03] lvanfretti commented on #67
We didn't fix this when we forked, we'll take a look at your advise! @MaximeBaudette

[2016-07-04 12:56] MaximeBaudette commented on #67
@dietmarw
The CLAHub idea seems really great, I will look into it to add it to the repository.
I agree that the copyright assignation is not really clear, but our problem is that we have no legal entity that we can use for the copyright of the library, would have been good if we could have used SmarTS Lab, but our research group is no legal entity :-/

[2016-07-21 08:22] tinrabuzin opened #68 "Missing CGMES package name"
package.order file in /Examples/Control is missing CGMES.

[2016-07-25 07:00] MaximeBaudette commented on #68
Good Catch!

[2016-07-25 08:01] MaximeBaudette commented on #67
@dietmarw
Do you think we could stipulate the following:

That's the only easy fix I see.

[2016-07-25 08:13] dietmarw commented on #67
1. I'm not a lawyer ;-)
2. I think you would need to make explicit who those original authors are.
3. You still need to find a way to keep record of the assignments.

[2016-07-25 08:15] MaximeBaudette commented on #67
Me neither :-/

Ok !

Yeah, but your CLAhub solves this issue, right?  (I haven't implemented it yet, cause I want to fix the disclaimer first :-o)

[2016-07-25 08:17] dietmarw commented on #67
Yes exactly. I was not sure if you still wanted to use CLAhub or simply change the notice.

[2016-08-05 14:32] MaximeBaudette commented on #47
The bug in OM Shell has now been marked as fixed!
I will resume the work

[2016-08-19 12:32] #68 closed

[2016-08-19 12:52] tinrabuzin commented on #26
@MaximeBaudette I think we fixed this problem with replaceable components? I don't remember how anymore...

[2016-08-19 12:52] tinrabuzin commented on #16
@MaximeBaudette @dietmarw I think the library can now be included on impact?

[2016-08-19 13:03] MaximeBaudette commented on #16
Yes ! I'll prepare it!

[2016-08-19 13:26] tinrabuzin commented on #64
@lvanfretti The puppy is now in the footer.

[2016-08-19 13:26] #64 closed

[2016-08-19 16:50] MaximeBaudette commented on #16
@tinrabuzin now I remember why I haven't done it so far...
I needed to implement the updated copyright notice. Now that OM have corrected the bug named in #47 I will be able to take care of that!
Once the copyright is updated, I will also save the library once again in Dymola to fix the formatting and update the version number, and prepare a new release.
Then @dietmarw can add it to Impact!

[2016-08-25 19:46] #58 closed

[2016-10-11 15:32] #1 closed

[2016-10-19 07:40] MaximeBaudette opened #76 "Check Compatibility with Wolfram SysModeler"

[2016-10-19 13:25] tinrabuzin commented on #76
@MaximeBaudette @lvanfretti

So, it seems like they fixed the issue we had with the complex numbers. However, the problem now is in the if statements in the line model that implement line opening. If I remove them, then the examples can be simulated.

Nevertheless, for any of the more complex systems I get some compiler errors. If I'm not mistaken, the compiler complains about the too long paths t

[2016-10-19 13:36] lvanfretti commented on #76
Hmmm, I think we should think about how to model the faults better and take
them outside the line... but I need to think about it.

Regarding the paths, please move where you put the OpenIPSL to a top layer
in your drive. I have had that problem with OM also.

Luigi

On Wed, Oct 19, 2016 at 3:25 PM, tinrabuzin <notifications@github.com>
wrote:

[2016-10-19 13:40] tinrabuzin commented on #76
@lvanfretti

The compiler is complaining about the paths of c++ source files in the SystemModeler's directory so I think moving OpenIPSL won't help. And, as I said, I'm not sure that is in fact the problem.

However, I did manage to run some of the larger models (Two_Area_PSSE, AKD, SevenBus).

[2016-10-21 08:35] tinrabuzin commented on #76
I think I found what is the problem. When SystemModeler generates the c++ files, there are several lines with function `solver_linear_system_scalar` and in the argument of this function there is a string with 36049  characters. That's what the compiler is complaining about (my VC 2015 compiler).

[2016-11-14 11:03] #47 closed

[2016-11-16 13:00] MaximeBaudette commented on #16
@dietmarw
Now we are ready to include OpenIPSL to Impact. I will create the version v1.0.0 before the end of the week.

[2016-11-16 13:44] MaximeBaudette opened #81 "Missing PSAT Models"
This issue can be used to track the list of missing PSAT models:

### Loads

- [ ]  Thermostatically Controlled Load

### Machines

- [ ] Synchronous Machine order V, Type 3
- [ ] Synchronous Machine order VIII

### Controls

- [ ] PSS Type I
- [ ] PSS Type III
- [ ] PSS Type IV
- [ ] PSS Type V
- [ ] Secondary Voltage Control
- [ ] Power Oscillation Damper

### FACTS

- [ ] SVC Type I
- [ ] SVC T

[2016-11-16 14:31] MaximeBaudette opened #82 "Missing PSSE Models"
This issue can be used to track the list of missing PSSE models:

### Loads

- [ ]  LDFRZN
- [ ] LDSHBL

### Machines

- [ ] CSVGN5

### Controls

- [ ] BBSEX1
- [ ] IVOEX
- [ ] ESAC5A
- [ ] EXELI
- [ ] EX2000
- [ ] GAST2A
- [ ] BBGOV1

### FACTS

- [ ] CSTCNT

### HVDC

- [ ] CDC6T
- [ ] CDCABT

### Miscs

- [ ] DPDTR1
- [ ] TIOCR1

### Wind

- [ ] WT1G1
- [ ] WT3G2
- [ ] WT3T1
- [ ] WT12T1

[2017-02-21 12:38] MaximeBaudette commented on #16
Ping @dietmarw
I tried searching on impact.github.io but didn't find the library. Any thing we still need to fix?

[2017-02-21 12:46] MaximeBaudette opened #88 "OpenIPSL testing in OpenModelica"
The OpenModelica developers included the library in their testing suite:
http://libraries.openmodelica.org/branches/master/OpenIPSL/OpenIPSL.html

The testing suite uses the experiment annotations to simulate the models, which has problems with our current implementation using a partial model (power grid), with experiment annotations that are inherited by all other models.
The OM testing suite doe

[2017-02-21 12:57] dietmarw commented on #16
Well actually creating a v1.0.0 release perhaps? ;-)

[2017-02-21 13:00] MaximeBaudette commented on #16
I thought I did it:
https://github.com/SmarTS-Lab/OpenIPSL/releases/tag/v1.0.0
What did I do wrong then :cry: ?

[2017-02-21 13:03] dietmarw commented on #16
My bad, I overlooked that one since the title sad nothing wit a version number. There is a different issue now coming up which currently is preventing OpenIPSL from not showing up in the impact index. Nothing you can/have to worry about. I'm on it.

[2017-02-21 13:05] MaximeBaudette commented on #16
Great News!
Please let me know if there is more I need to do or if I can close the issue.

[2017-02-21 13:06] dietmarw commented on #16
Leave it open for now so I can close it once I fixed the impact issue.

[2017-02-21 13:37] dietmarw opened #89 "Various copyright statements still present in the development version"
I though the reason for the new script that adds the copyright was to clean out the development version of all the duplicates. But the latest (versioned) development version is still full with this "noise".  Is that on purpose or simply oversight?

[2017-02-21 13:45] MaximeBaudette commented on #89
@dietmarw
Good remark !
Actually, now that I think about it, I would remove the noise alltogether and just place a notice on the top layer Modelica package... What an irony you are probably thinking!

[2017-02-21 13:52] dietmarw commented on #89
Yes, that idea does sound familiar somewhat. :smirk:

[2017-02-22 17:16] dietmarw commented on #89
Where you thinking of getting also rid of the `` place holder at the same time? Or do you think it should stay for later release processing?

[2017-02-22 17:25] MaximeBaudette commented on #89
Actually, if we were moving to removing all of them, I'd even remove this I think.

[2017-02-22 17:29] MaximeBaudette commented on #89
Anyhow, now that I prepared a script to update the annotations, it's easy to use to remove all of them also :smile:

[2017-02-22 17:31] dietmarw commented on #89
That's true, since you don't actually look out for that place holder at all.

[2017-02-22 17:33] MaximeBaudette commented on #89
Let's keep quiet on my quick n' dirty fixes :stuck_out_tongue_winking_eye:

[2017-02-23 09:53] dietmarw opened #92 "New dynamic power display"
I've created a new way of the power line display and wanted to get some feedback if this is fine for you.

I got rid of the arrows and replaced it with indicators instead. Also there won't be any negative values in the display but just flipping direction indicators.

Here is how it looks like in action. Left the new way I like to implement and to the right the old way:

![powerline](https://cloud.

[2017-02-23 09:58] MaximeBaudette commented on #92
It looks very good!

[2017-02-23 10:03] tinrabuzin commented on #92
@dietmarw I like it! :)

[2017-02-23 10:04] dietmarw commented on #92
OK in that case I'll continue with this. I leave this ticket open until the actual PR is merged.

[2017-02-23 11:25] dietmarw commented on #92
I've implemented it as par of #91

[2017-02-24 12:20] dietmarw commented on #92
Here the next improved generation that also allows flipping:
![powerlinenew](https://cloud.githubusercontent.com/assets/9332/23303370/09bb7440-fa94-11e6-8a9e-cd8094741ceb.gif)

[2017-02-27 09:54] dietmarw opened #93 "Wrong name of ShuntR?"
When cleaning up the icons I stumbled upon `OpenIPSL.Electrical.Banks.PwShuntR`
the description, the equations and the icon suggests this is a shunt L and not shunt R.
Am I missing something?

[2017-02-27 12:05] tinrabuzin commented on #93
@dietmarw It seems like you're right, i.e. by looking at the equations it seems like it's shunt reactor. But that model was developed by other project partners so I don't remember seeing anyone using it in "our" models. Moreover, we have shunt B, C and R (which is L actually). So probably they included it because you can specify shunts in different ways, which means that we should maybe recode one

[2017-02-27 12:25] dietmarw commented on #93
Yes having one with parameters would be an improvement. I will not change the name right now and we can leave this ticket to deal with it.

[2017-02-27 12:59] dietmarw opened #94 "2 identical CSVGN1 models?"
It looks to me like:
`OpenIPSL.Electrical.Banks.CSVGN1`
and
`OpenIPSL.Electrical.Banks.PSSE.CSVGN1`
are identical and one of them should be removed. But which one?

[2017-02-27 13:03] tinrabuzin commented on #94
@dietmarw They are identical.  `OpenIPSL.Electrical.Banks.CSVGN1` should be removed.

[2017-02-28 11:59] dietmarw opened #95 "Possible to rename folder "Application Examples" to "ApplicationExamples"?"
Blanks in file pathes are always a pain when one wants to run scripts over a library. Yes there are workarounds but it is often a PITA. Would it be a problem to rename the folder `Application Examples` to `ApplicationExamples`?

[2017-02-28 12:07] dietmarw commented on #89
As part of #91, I've now added a copyright class and removed manually the local copyright statements whenever I touched a class. It would perhaps be a good idea to run your script after the merge of #91 in order to remove the remaining ones. I didn't want to touch it since it is hard coded for your machine @MaximeBaudette

[2017-02-28 13:09] MaximeBaudette commented on #89
Oh you're right.... :disappointed:
Terrible! I really should fix that

[2017-02-28 14:32] MaximeBaudette commented on #95
I agree with you. Just rename it in #91 if you want.

[2017-02-28 17:08] #94 closed

[2017-02-28 17:08] #95 closed

[2017-03-01 07:22] tinrabuzin opened #96 "Duplicate package "Functions""
@dietmarw I noticed there is a top-level package `Functions` and, then again, there is a package `Functions` in `NonElectrical` package. Is there a particular reason for this or you just overlooked the latter one?

[2017-03-01 07:27] dietmarw commented on #96
Oh that was an oversight indeed. I will fix this and move my function into the NonElectrical place.

[2017-03-01 07:29] tinrabuzin opened #97 "Generator Interface and Plant Model"
I just noticed that now we have a generator model in the `Interfaces` package. I started thinking about the plant model where you could select different parts of the plant model from a dropdown menu to avoid connections and a mess that comes with that. So, @dietmarw I'd like your opinion on the implementation. Do you think what I did makes sense? You can find the plant model in the "PlantModel" br

[2017-03-01 07:47] dietmarw commented on #97
Sorry but I can't find **any** model called `PlantModel`

[2017-03-01 07:50] tinrabuzin commented on #97
That's because the name of the model is `Plant` and not `PlantModel`. :) Sorry.

[2017-03-01 07:51] tinrabuzin commented on #97
Also, if you go to GENSAL example you can see how it would work. In Dymola at least...

[2017-03-01 07:53] tinrabuzin commented on #97
And yes, as I wrote in the first post, the model is in the "PlantModel" branch.

[2017-03-01 08:17] dietmarw commented on #97
OK now I see. Sure that's nice but since it is not yet supported in OMEdit, i would propably be careful as to how to introduce this.

[2017-03-01 18:06] #96 closed

[2017-03-06 08:22] meliaa4 opened #102 "simulation Wind turbine in PSSE"
I really need model of Wind turbine in PSSE. Can you help me! Thanks

[2017-03-06 08:23] meliaa4 commented on #82
Where  can I find wind modes ?

[2017-03-06 12:39] tinrabuzin commented on #102
It would be nice to know who you are...

[2017-03-06 12:57] fran-jo commented on #102
And, exactly, which Wind Turbine model do you need!

[2017-03-07 04:32] meliaa4 commented on #102
any model

[2017-03-07 04:45] meliaa4 commented on #102
My name is Nguyen Huu Hao. I'm a student and studying in Viet Nam.

[2017-03-08 12:11] lvanfretti commented on #102
@meliaa4 I think you are a little lost.
Perhaps your Professor/Supervisor asked you to do this, or you are doing it out of your interest, but the question that you are asking doesn't make much sense for this repository.

Firstly, we do not provide any tools or support on how to simulate wind turbines using PSS/E.
Our library is to carry out power system simulations using Modelica-language-complian

[2017-03-08 12:11] #102 closed

[2017-03-09 14:56] tinrabuzin opened #105 "CI update with OM 3.2.2"
Due to some models using noise generators from MSL 3.2.2, the CI system breaks because it has MSL 3.2.1. installed in the docker image. This should be updated.

[2017-03-09 15:22] dietmarw opened #107 "PSAT generator models don't work correctly for non-nominal systemfrequency"
I found that the way  the electrical power is coupled with the mechanical power in `OpenIPSL.Electrical.Machines.PSAT.BaseClasses.baseMachine`:

[code]
means that a generator produces more electrical power that it mechanically receives if the frequency is lower than the nominal, e.g., overloaded island grid.

Are there alternative models that take this into account or all generator models not resp

[2017-03-09 16:05] tinrabuzin commented on #107
I'm not sure if I understood your question correctly, but if you're referring to de damping coefficient "d" in this equation, that is a correct behaviour. This damping torque comes from the damper windings in the generator that improve the stability of the system during swings.

I think this is a simplified way of modelling the damper windings since we're looking only at the 50Hz components in the

[2017-03-09 16:12] dietmarw commented on #107
No the issue is that independent of the damping (actually set to 0) for an overloaded islanded system the generator model generates more electrical power than it receives mechanical power. This is not a corner case but one of the most often asked scenarios when working with island or weak power systems.

I don't doubt that PSSE has the same model but question is do you also have models that behave

[2017-03-09 16:20] tinrabuzin commented on #105
The docker image is now updated with OM 1.11 and MSL 3.2.2

[2017-03-09 16:20] #105 closed

[2017-03-09 16:24] tinrabuzin commented on #107
I don't see why would generator produce more electrical power than mechanical power (in the steady state)? Ofc, during the transients it would provide more power (stored in the rotating masses in the generator), but once the frequency settles down (to any value) the equilibrium would be restored.

[2017-03-09 16:40] dietmarw commented on #107
The why is simply because with `d=0` you end up with:

[code]
`pm` is constant, so is `m` and with a falling frequency this leads to `pe` becoming larger than `pm`.
There is no restriction or safeguard present to avoid this. Well in this base model anyway. Hence my question if there is also a different implementation that does not suddenly creates power from nowhere :smirk:

Here an example of an

[2017-03-09 17:01] tinrabuzin commented on #107
The idea is that the power doesn't come out of nowhere. It comes from the "m" here which represents generator intertia. The thing is that eventually after the islanding, the governor would kick in, and start producing more power which would then bring the `der(w)` to zero and the intertia power (which you think is coming from nowhere) would go down. Your problem here is that there is no turbine go

[2017-03-10 08:00] dietmarw commented on #107
@tinrabuzin You are unfortunately confusing a control system with a physical system. I don't blame you since most of the models in OpenIPSL are basically control system based and not physically.
After the generator is islanding the **generator** can not produce more power as long as the supplied mechanical power is not changed. But this is not something that the generator does but the turbine gove

[2017-03-10 08:15] tinrabuzin commented on #107
@dietmarw Nope, I am not confusing control system with a physical system (that would be embarrassing). I was just explaining what would happen in a real power plant. Also, I was saying that what you get in the simulations that you were showing is exactly what should happen both in real life and simulations.

Check the slide number 5 in the following link [GE - Frequency Response](http://web.mit.ed

[2017-03-10 08:29] tinrabuzin commented on #107
@dietmarw About your mechanical model, you should put another inertia between the generator and the power sensor. Then you'll get the same response as in our models.

[2017-03-10 08:51] dietmarw commented on #107
@tinrabuzin Thanks for the clarification. It was indeed the decoupled/split-up inertia that I was missing in my model and my train of thought. Well and the time-scale really. Simulating the model long enough until all the generators inertia stored energy has been depleted shows the (by me) expected power-flow.

So this is then basically a non-issue.

[2017-03-10 08:51] #107 closed

[2017-03-22 21:43] dietmarw opened #111 "Typo in tutorial, Example 2"
I stumbled upon a parameter typo in the table given in the tutorial presentation. Since I don't have access to MS Power Point and LibreOffice would destroy some formatting I'm filing this as a ticket rather than a PR .
The error is on slide 52 where this table is given:
![image](https://cloud.githubusercontent.com/assets/9332/24221907/0e4491ae-0f48-11e7-85be-eb71c6e7598f.png)

Basically the values

[2017-03-23 12:06] dietmarw opened #112 "Default voltage values way out in PSAT models (and possible more)"
Just noticed that OpenIPSL's insistence on non SI base of k and M values instead of the real voltage and power values caused that many default values are too large by a factor of 1000. Reason is that whoever added the values in the first place thought of them (rightly so in my opinion) as Volts and are computational treated as kV.

Example from OpenIPSL.Electrical.Branches.PSAT.TwoWindingTransform

[2017-03-28 07:46] MaximeBaudette commented on #112
Interesting @dietmarw....
I can see why you would like to have Volts in the background, and I don't disagree with that.
The only point I'd like to raise is that, in the end,  all quantities should be displayed in kV and MW,
What ever Modelica uses in the background is not of big interest to me, but the display and input units should be kV (or p.u. :-P ), as it is the most familiar units.

BTW: I t

[2017-04-04 07:26] tinrabuzin opened #114 "Pin labels on PSSE generators are not correct"
The pins don't correspond to its labels on the PSSE generators. @dietmarw Have you maybe shuffled them?

[2017-04-04 07:29] dietmarw commented on #114
AFAIK I only touched the PSAT icon and connector positions. Never played with the PSSE ones.

[2017-04-04 07:30] tinrabuzin commented on #114
@dietmarw Ok, sorry for suspecting you. :P

[2017-04-04 07:47] dietmarw commented on #114
As a tip to avoid this... remove all icon layer annotations for those connectors. The RealOutput classes get automatically mirrored to the icon layer. So making additional changes to the position to the icon layer instead to the diagram layer "breaks" the link and makes them independent copies which probably lead to the mislabels in the past.

[2017-04-11 14:40] maguilerac opened #116 "IEEET1 Exciter Model Issue"
The translation of the IEEET1 exciter model returns the following error:

_The initialization problem is overspecified for variables of element type Real.
There are 1 too many scalar conditions.
To correct it you can
remove initial equations:
iEEET2_1.SE_Efd0 = OpenIPSL.NonElectrical.Functions.SE(iEEET2_1.Efd0, iEEET2_1.S_EE_1, iEEET2_1.S_EE_2, iEEET2_1.E_1, iEEET2_1.E_2);
iEEET2_1.Efd0 = gENROE.e

[2017-04-11 14:49] tinrabuzin commented on #116
@maguilerac There is an extra instruction in the `initial equation` section. Can you remove `VRMIN0 = -VRMAX0;`, try to simulate again and create a PR with the change?

[2017-04-11 15:19] MaximeBaudette commented on #116
@tinrabuzin Thanks for the input! I'll be helping @maguilerac to prepare the PR.

[2017-04-12 06:21] maguilerac commented on #116
@tinrabuzin Thanks Tin! I followed your suggestion and it works. I only need to remember how to do the PR. Fortunately, @MaximeBaudette has been very kind to help me with that.

[2017-04-12 16:18] #116 closed

[2017-04-12 17:21] lvanfretti opened #118 "PSAT OEL should be revised"
Importing from legacy ipsl repo: https://github.com/itesla/ipsl/issues/156

OEL was not built according to the manual in the first place. I updated it a bit but it still needs some improvement.

[2017-04-18 10:31] maguilerac opened #119 "Doubt with GGOV1 connection"
In some references I have seen that the governor output (output of the V Limiter block) is feeding both the main governor PID controller and the Rselect block.
However, I see that what is now being connected to the Rselect is the input of the V Limiter.

Is it correct? Should _connect(rSELECT.GovernorOutput, V.u)_ be replaced with _connect(rSELECT.GovernorOutput, V.y)_?

Reference:
Fig3-5 Dynamic

[2017-04-18 11:03] MaximeBaudette commented on #119
@maguilerac You know you can add pictures to show the inconsistencies between the two.

[2017-04-18 11:14] maguilerac commented on #119
@MaximeBaudette Done!

Pictures for comparisson:

![im01](https://cloud.githubusercontent.com/assets/25766442/25128122/caed07f0-2438-11e7-97af-9490a0a8484f.png)
![im02](https://cloud.githubusercontent.com/assets/25766442/25128128/d11f3f4e-2438-11e7-95bd-969efebf3bf7.png)

[2017-04-19 06:49] dietmarw commented on #111
@lvanfretti I saw your newest tutorial slides still have this mistake. Also you should unify the slides for the current stable OpenModelica 1.11.0 release. The installation instructions are not in sync with the course content in this respect.

[2017-04-19 12:01] MaximeBaudette commented on #119
@maguilerac
I didn't find anything in the history of the model that would justify this discrepancy between the model sheet and its implementation in OpenIPSL. BTW it was @tinrabuzin who added the model to the library, maybe he has some input.
If not I suggest you prepare some tests and check the behavior of the model, before and after the fix.

[2017-04-19 14:52] lvanfretti commented on #111
@dietmarw I got the chance of doing this in Texas A&M without much prior preparation, so I'm sorry I lost a bit of diligence (did it in the middle of a meeting).
Thank you very much for noticing the inconsistencies. I'm not sure I will have to update to 1.11.0 for tomorrow, def not in OSX, but I will try!

[2017-07-07 13:15] janlav commented on #89
@MaximeBaudette is this addressed in your latest contributions?

[2017-07-07 13:26] MaximeBaudette commented on #89
Yes I fixed it

[2017-07-07 13:26] #89 closed

[2017-08-07 16:40] MaximeBaudette opened #136 "Fix automatic Tutorial packaging"
Configure Travis to attach an archive with all the tutorial files in the release section.
For this, it is required to check if/when OM can save packages as a single file

[2017-08-08 12:55] #114 closed

[2017-08-28 14:15] MaximeBaudette opened #138 "Fix Dockerfile"
I added a new account on Dockerhub to host the image for CI testing and configured it to automatically build the image based on the docker file hosted in the repository.  This is hosted in the "addDockerFile" branch.

The generated docker image fails to run OMpython properly.

Error to be investigated further.

[2017-08-29 11:26] MaximeBaudette commented on #138
@dietmarw
For the first implementation of the CI, @tinrabuzin built a docker image that we host on a dockerhub account. This image was never updated and I was hoping to add a dockerfile to keep it in sync with the development of OpenModelica.
I found an example file on the  OMWebbook repository, but didn't manage to get it working :-/
If you got any experience with docker+OM+OMpython, please let m

[2017-08-29 11:33] dietmarw commented on #138
Have a look at my Docker file that I use for OM+OMPython+JupyterNotebook:
https://github.com/dietmarw/docker-notebook/blob/master/Dockerfile

[2017-09-14 13:57] MaximeBaudette commented on #22
Update for #23

[2017-09-14 13:58] MaximeBaudette commented on #13
update for #23

[2017-10-10 21:20] janlav opened #144 "PSAT Generator models to be checked & fixed"
I have fixed Order 6 generator model for PSAT to behave correctly with /BaseClasses/baseMachine. Please follow this example and check/fix (delete unused parameters, fix initialization routine)

Models fixed:
- [x] Order2
- [x] Order3
- [x] Order4
- [x] Order5_Type1
- [x] Order5_Type2
- [x] Order6

Check/update all and any example that uses a PSAT machine model:

- [x]  OpenIpsl/Examples/.../
- [x]

[2017-10-13 16:23] #144 closed

[2017-10-19 02:19] janlav opened #148 "Old, unused PSAT machine models in folders?"
Inside OpenIPSL\OpenIPSL\Electrical\Machines\PSAT\ there exist *.mo-files, which are loaded into OpenIPSL, but also redundant and/or old models in folders, f ex "FifthOrder". Do these serve any purpose and/or should they be deleted?

[2017-10-19 04:01] dietmarw commented on #148
To me it looks like a left over from reorganisation. Probably run a diff on the files in the folder and the one on the level above. They are not "linked" from package.order so they would not be shown.

[2017-10-19 11:20] MaximeBaudette commented on #148
I'm preparing a new release soon, I will use the occasion to clean this up. (Usually I load the library in dymola, delete the files in the repo and redo a `save as` so that old files that we forgot about just get removed)

[2017-10-19 14:18] dietmarw commented on #148
Oh dear and that explains the umpty changes to OpenIPSL in a single "clean up" commit. ;-)

I might suggest you do the following:
 1. Open in Dymola
 2. Remove all files
 3. Save in Dymola
 4. Only mark **deleted** files for commit. Don't commit any changed files.
 5. Commit.
 6. Close Dymola
 7. Do a `git reset --hard HEAD`
 8. Open in Dymola in order to check if everything still is fine or if so

[2017-10-19 16:25] #118 closed

[2017-10-19 17:08] lvanfretti commented on #148
@MaximeBaudette Maxime
The fifth order model from PSAT is necessary, even if it has not been updated, keep it.
I suggest you look through the PSAT manual to see the models that should be there, before you delete something.
If the model is not supported in the current library, we can put a mark in the code and in the icon for the user to know that the model needs maintenance.

Thank you for cleanin

[2017-10-19 17:12] dietmarw commented on #148
I think the problem here is that there is something that is on the file system but not shown by the modelling tool. It is quite dangerous to keep stuff "around" like that by that method. I'd suggest to either create a dedicated package to put those models which is also shown in the modelling tool instead.

[2017-10-19 17:14] lvanfretti commented on #148
I am not sure if I understand, but the model is available in the original
modeling tool.

I don’t mind which ever approach is used, but since the models where
developed and used to work at some point, they probably only need
maintenance instead of full reimplementation.
I just don’t want to have to re-implement any model again, which is listed
in the original software (PSAT), just because we have

[2017-10-20 01:19] janlav opened #150 "Possible bug in ESST4B"
I noticed on [OMs OpenIPSL test](https://libraries.openmodelica.org/branches/master/OpenIPSL/OpenIPSL.html) that [Examples/.../ESST4B](https://github.com/OpenIPSL/OpenIPSL/blob/master/OpenIPSL/Examples/Controls/PSSE/ES/ESST4B.mo) didn't compile and saw some strange things:

1.  The test compiles and runs under Dymola but both limiters are at-limit all of the time so that the only part that does so

[2017-10-20 09:23] MaximeBaudette commented on #148
@lvanfretti
We are not talking about deleting models Luigi, only deleting unused files.
If you remember some models have been reworked (like the PSAT machines), and the packaged cleaned up. But I looked at the repo and it seems that files that were deleted within Dymola have not been deleted on disk, and hence from the repo. These files are just old copies:
![image](https://user-images.githubuserc

[2017-10-20 16:27] #148 closed

[2017-11-02 13:40] #138 closed

[2018-02-27 12:30] emesk opened #160 "Review Initialization to comply with OM"
I noticed while simulating Example 1 from tutorial section
https://github.com/OpenIPSL/OpenIPSL/blob/master/ApplicationExamples/_Tutorial/Tutorial/Example_1/Example_1.mo
on the release package OpenIPSL v1.5.0
https://github.com/OpenIPSL/OpenIPSL/releases/tag/v1.5.0

i get the error.

`LOG_NLS | warning | <p>nonlinear system 318 fails: at t=0</p>`

I am using default solver settings in open Modelic

[2018-02-27 18:24] MaximeBaudette commented on #160
I checked quickly and noticed that the model in question, and also Example 2 was not working at all in OM, but it was working 'kinda' fine in Dymola (the initialization was incorrect).
After checking, it turns out we updated the models to input the angles from the powerflow results in degrees instead of radians (before some models used radians, others used degrees, all models should use degrees no

[2018-02-27 18:40] MaximeBaudette commented on #160
I changed some attributes on the initialization in the machine following what OM was complaining about. I don't really understand why all of a sudden OM became more picky about the initialization of the model.
See:
`Real e1q(start=e1q0, fixed=true)`
`Real e2q(start=e2q0, fixed=true)`

[2018-02-27 22:46] MaximeBaudette commented on #160
@dietmarw
Any input about the `fixed = true` statements?
Should we use it in more places for proper initialization?
Also, any idea why it stopped working in OM? I checked the commit history and there is nothing shocking about these models that would have broken them.

[2018-03-01 09:31] dietmarw commented on #160
To make models more robust you should always fully specify the initial conditions if known and tell the tool to use them (i.e., `fixed=true`) and not just take them as a guess (i.e., `fixed = false`) . Dymola also warns you each time about this (also the same places as OMEdit does) but in contrast to OMEdit adds the `fixed=true` part automatically.

So it might be a good idea to go through all exa

[2018-03-01 09:32] dietmarw commented on #160
As to why OMC changed its behaviour maybe @sjoelund might shine some light on.

[2018-03-01 10:33] sjoelund commented on #160
The behavior when not specifying initial conditions is a bit random and whenever we do anything in the compiler that changes the sorting of equations (perhaps fit efficiency reasons storing something in a sorted tree instead of an unsorted list) we might make a different choice than we did before. We also frequently end up with a different set of initial conditions where we have a choice to set fi

[2018-03-13 15:47] dietmarw commented on #111
Checking the [latest Tutorial](https://github.com/OpenIPSL/OpenIPSL/files/1253887/2017_08_.LVPT_OpenIPSLNAMUG_Prep.pdf) and it seems like it is fixed now.

[2018-03-13 15:47] #111 closed

[2018-03-13 15:49] dietmarw opened #162 "Update the copyright statement"
For the next release you might wanna update that.

[2018-03-13 20:23] MaximeBaudette commented on #162
What do you mean?
You mean adding 2018 ?

[2018-03-16 20:34] MaximeBaudette commented on #160
@sjoelund Sorry for the delayed answer, and thanks for the input.
I guess we should review our initialization procedure to make them more robust!
The issue, I guess, is that I mostly work in Dymola, and it seems it's always been very forgiving on the initialization questions.

[2018-03-16 20:54] MaximeBaudette commented on #160
Change of title to "Review Initialization to comply with OM"

Old title: "Error in simulating Tutorial examples with OpenIPSL v1.5.0"

[2018-04-03 12:00] dietmarw opened #164 "PSAT AVR models mixed up."
When working with the AVR models from the PSAT package we noticed the following:

`OpenIPSL.Electrical.Controls.PSAT.AVR.AVRTypeI`
and
`OpenIPSL.Electrical.Controls.PSAT.AVR.AVRTypeII`

are actually swapped. So `AVRTypeI`should be `AVRTypeII` and vice versa. Now the real tricky bit is here that also PSAT got this wrong. If you look at the official IEEE definitions and literature (e.g., M. Federico

[2018-04-03 22:27] MaximeBaudette commented on #164
@dietmarw
My first reaction to your post is that, given that our user community is not that big, it's not such a big deal if we swap the names to fix it w.r.t the standard.

[2018-04-04 07:13] dietmarw commented on #164
We could actually solve this with a conversion script so that user-models get updated. But this change being non-backwards compatible would mean that the semantic version of the next release should be 2.0.0. Maybe there are some other more major changes that are planned and should be bundled with such a release. Not sure what your release plan looks like for OpenIPSL.

[2018-04-04 22:55] MaximeBaudette commented on #164
I don't think we have a very defined plan at the moment, and for my part, I'm pretty busy these days, so I don't spend too much time on OpenIPSL. But I think @lvanfretti is getting new students who are gonna work on the library very soon! Hopefully the second half of 2018 will see a more busy repository :-)

[2018-04-05 02:17] lvanfretti commented on #164
@MaximeBaudette this is something that we have to put in the to-do list for @marcelofcastro who will take over your admin and main dev role.
@dietmarw I like the idea of the script, Marcelo starts in the end of August, let's follow up then and talk about future releases. For the time being, I guess this could be "patched" manually.

[2018-04-05 18:25] MaximeBaudette opened #165 "Update Documentation// Contributions Guideline"
I noticed that the documentation was getting out of sync and also I recently received emails from different people with inquiries about the library, possible contributions, technical questions etc.
I noticed for example that we have many references to the now old google group, which is confusing for people to get in touch with us
I personally find it difficult to keep track of all of this, when it

[2018-04-05 18:29] MaximeBaudette commented on #165
I gathered here the issues #67  #162

[2018-04-05 18:35] MaximeBaudette commented on #165
BTW: @lvanfretti @dietmarw I think we did the mistake of neglecting the documentation task in the past, and I'm strongly believing that a good documentation is key to get people to use our library. So if you have resources to dedicate to the task, please let me know so I know who I can bother when I need help to get stuff done!

[2018-05-31 08:49] dietmarw opened #167 "Add phase shifts (clock numbers) to transformer models"
None of the current transformer models takes the phase-group/clock-number into account. This make comparison hard with tools like PowerFactory which offer these settings.

[2018-06-06 10:52] dietmarw opened #168 "Add a HYGOV model"
The standard hydro power turbine governor of type `HYGOV` would be a useful addition.

[2018-06-06 12:22] lvanfretti commented on #168
@dietmarw it is already available:
[./Electrical/Controls/PSSE/TG/HYGOV.mo](https://github.com/OpenIPSL/OpenIPSL/blob/master/OpenIPSL/Electrical/Controls/PSSE/TG/HYGOV.mo)

[2018-06-06 12:22] #168 closed

[2018-06-06 12:28] lvanfretti commented on #167
@dietmarw I'm not familiar with that feature of PowerFactory. Phase shifting transformers corresponding to PSAT are [here](https://github.com/OpenIPSL/OpenIPSL/tree/master/OpenIPSL/Electrical/Branches/PSAT/PhaseShiftingTransformer).

[In this MSc thesis](https://repository.tudelft.nl/islandora/object/uuid:a179674c-7ffa-4909-85e6-caa8c44dcc11/datastream/OBJ/download), Harish implemented some PowerF

[2018-06-06 12:40] dietmarw commented on #168
Ah sorry ... didn't see that.

[2018-06-06 12:46] dietmarw commented on #167
I'm not sure if the existing ones are what we had in mind. Will have to look at it. But looking at the package https://github.com/OpenIPSL/OpenIPSL/tree/master/OpenIPSL/Electrical/Branches/PSAT it is confusing that there are two (undocumented as usual) packages
 * `PhaseShiftingTransformer`
 * PhaseShiftingTransformer

[2018-06-06 12:49] lvanfretti commented on #167
They might not be exactly what PowerFactory has, but surely very similar.
Yes, we need to clean up this...

[2018-06-06 15:17] dietmarw commented on #167
Yes this definitely needs to be cleaned up. Phase shift should be part of the normal two or three winding transformer and not a separate model. So a cleaner implementation is asked for.

[2018-06-06 15:36] lvanfretti commented on #167
@tinrabuzin I think you are right.
I'm having a call with Dietmar this afternoon about something else, so I'll try to figure out what he means.

[2018-06-06 15:36] dietmarw commented on #167
@tinrabuzin Yes you are right. The PSSE implementation actually has the `ANG1` parameter.

[2018-06-06 15:45] dietmarw commented on #167
So basically the PSAT version does not offer this. But now I also have learned about what a phase shifting transformer is. :-)

[2018-06-06 15:47] lvanfretti commented on #167
There should be some phase shifting transformer model in PSAT and OpenIPSL… Ahsan implemented for his thesis… might not be cleaned up and integrated though...
On Jun 6, 2018, 11:45 -0400, Dietmar Winkler <notifications@github.com>, wrote:

[2018-06-13 21:45] lvanfretti opened #170 "Fix conflicting initialisation of models"
I had a telco with the people from Wolfram about the issues when using SystemModeler and the library.

Here is the feedback:

Proposed Patch:
[GENCLS.patch.zip](https://github.com/OpenIPSL/OpenIPSL/files/2099993/GENCLS.patch.zip)
[code]
I'm afraid we might have more than 1 inconsistence of this type in the library which is breaking SystemModeler.

[2018-06-14 06:52] dietmarw commented on #170
There are definitely more. Even that very example causes Dymola to reports two more:

[code]

[2018-07-03 11:37] MaximeBaudette opened #172 "PSAT transformer package"
I noticed that there are 2 transformer models implementing the fixed tap ratio model from PSAT. For the look of it, these models are identical.
Look into removing the duplicate model, and clean up package.

See #164  to prepare a script updating the model to change to the correct model

[2018-11-15 08:21] dgusain1 opened #173 "Inconsistent results from softPMU."
Hi!

I am testing the softPMU component in IEEE9bus example. The results obtained are very inconsistent and do not make sense. The frequency plotted from generator is very different from frequency reported by softPMU at same generator terminal.

![image](https://user-images.githubusercontent.com/42176718/48539512-a930b180-e8b7-11e8-9ba8-f42ae54db692.png)

As you can see, the softPMU reports a nega

[2018-11-15 08:43] dietmarw commented on #173
Could you share your model? It could be also an issue of the units and scaling. Easier to see if one can look at how you implemented the SoftPMU

[2018-11-15 09:03] dgusain1 commented on #173
I picked up the model from Application Examples packaged with OpenIPSL. Im attaching it here. (Use the IEEE_9_Buses within the package.)
[IEEE9Total.zip](https://github.com/OpenIPSL/OpenIPSL/files/2584445/IEEE9Total.zip)

[2018-11-15 09:14] dietmarw commented on #173
Sorry the attached model is empty (basically):

[code]

[2018-11-15 09:17] dgusain1 commented on #173
Oh, my bad. Here is the model file.

[IEEE9.zip](https://github.com/OpenIPSL/OpenIPSL/files/2584512/IEEE9.zip)

[2018-11-15 09:22] dietmarw commented on #173
Sorry but the model IEEE_9_Buses is missing parameters and does not run. That way it is hard to help you. Could you supply a working (complete parameterised) example that also checks and simulates?

[2018-11-15 17:28] dietmarw opened #174 "PwShunt causes division by zero"
When using `Electrical.Banks.PwShunt` Dymola (at least) displays
[code]
but in the end succeeds.
This should be investigated.

[2018-11-15 17:30] dietmarw commented on #93
My students just wanted to *use* that model and it turns out it is actually faulty and does all kinds of things but not what it should.

We solved the issue by using either `PwShunt` or `Simulink.PwShunt` instead. The former is still causing a division by zero which should be looked at. See also #174.

So I'm for removing `PwShuntR` and `PwShuntC` given the `PwShunt` issue #174 is resolved.

[2018-11-16 09:35] dietmarw commented on #173
I see now the problem and can verify that the results as generated by `softPMU` do not make sense. Looking at the internals the root of the problem is they way the reference angle is calculated using derivatives. This leads both to spikes and also delays (i.e., phase shifts).

I have a Master Thesis coming up in spring 2019 where I hope to get a better implementation that then most likely can repl

[2018-12-04 13:23] lvanfretti commented on #173
Please see the usage example in this repo:
https://github.com/ALSETLab/2018_AmericanModelicaConf_PMUBasedIslanding

I haven’t had the time to commit this new version.
Maybe @Biswarup can do it?

See the paper for implementation approach to eliminate spikes using the smooth operator.

[2018-12-04 13:52] BiswarupM commented on #173
@dgusain1 - The softPMU model, the one you're using needs to be corrected it seems. Please make sure that the real and imaginary parts of the voltage are assigned properly. You can also use the model from the paper that Prof. Vanfretti mentioned above.
Good luck!

[2018-12-04 16:45] lvanfretti commented on #173
I think Biswarup didn’t save it correctly, I don’t have the files myself; my computer crashed, and I can’t find a copy on his dropbox.

@BiswarupM,

Can you please update the repository?

Luigi

On Dec 4, 2018, 11:28 AM -0500, Dietmar Winkler <notifications@github.com>, wrote:

[2018-12-04 16:53] lvanfretti commented on #173
Actually, I’m wrong.
We used the homotopy and smooth operator in another paper for deadline with angle wrapping problems, not for frequency calculations.

I think the problem is that the modifications made were not saved correctly in the model in the repo, the implementation we used is this one:
https://github.com/ALSETLab/2018_AmericanModelicaConf_PMUBasedIslanding/blob/master/Modelica2018US_Isla

[2018-12-04 17:07] dietmarw commented on #173
OK but that model then contains the wrong equation (identical to (2) from the paper).
See also https://www.wolframalpha.com/input/?i=derivative+of+tan%5E-1(x(t)%2Fy(t))

[2018-12-04 17:18] lvanfretti commented on #173
Dietmar,
We need some sort of frequency estimate for certain controls, as explained
in the paper.
In the paper, we were trying to get the thing implemented in a way that we
don't get spikes.
It was added at the time because it is a nice way to package certain
simulation values "measurements", to be displayed and re-used.
Of course, if there is a mistake, it should be corrected.
Remember that most

[2018-12-04 17:18] BiswarupM commented on #173
Please see the real and imaginary parts are indicated other way around. In my AMC paper and the one Jan committed. So my model https://github.com/ALSETLab/2018_AmericanModelicaConf_PMUBasedIslanding/blob/master/Modelica2018US_IslandedOperationControl/Essentials/FrequencyComputationBlock.bak-mo
 is correct. There is nothing wrong

[2018-12-04 17:20] dietmarw commented on #173
Unfortunately from that model you can not determine what should be real and what should be imaginary. But anyway. It should be minus not plus on top.

[2018-12-04 17:37] BiswarupM commented on #173
@dgusain1 If you go here
        2018_AmericanModelicaConf_PMUBasedIslanding/Modelica2018US_IslandedOperationControl/Network/Network_DL.mo
you can see how the block inputs are specified

SimulationSetups.Event_Islanding event_Islanding( f_DN(u = B6.p.vi, u1 = B6.p.vr))

@dietmarw @lvanfretti

[2018-12-05 12:23] BiswarupM commented on #173
Speed= 2*(Pi)*f
And when you plot them in same unit you get the following.
![image](https://user-images.githubusercontent.com/23708771/49513211-42028d80-f8b6-11e8-900a-69c5fb61a17b.png)

[2018-12-05 12:54] dietmarw commented on #173
And that discontinuity is not acceptable for general purpose applications. So it needs to be fixed,

[2019-01-22 15:06] dietmarw commented on #16
OpenIPSL is listed on modelica.org/libraries. For technical reasons it will not appear on the impact index. The impact index might undergo a substantial redesign which will most likely also fix the listing of OpenIPSL. So closing this isssue now.

[2019-01-22 15:06] #16 closed

[2019-02-06 12:52] dietmarw commented on #97
PR #157 implements the new structure without relying on replaceable support. I.e., there is an example "GEN" that demonstrates the use but the existing models are not touched so they stay usable with OMEdit.

[2019-02-07 07:16] dietmarw opened #179 "Update contact details for 2.0.0 release"
Currently many places link to @lvanfretti 's old email address as contact info. For the 2.0.0 release this should be updated. But instead of using another email address I think it would be good to link to a webpage that contains contact information. Question is which one, openipsl.org or alsetlab.github.io

Nothing urgent but should be done before the 2.0.0 release.

[2019-02-07 07:35] #172 closed

[2019-02-07 14:17] lvanfretti commented on #179
Agreed @dietmarw I guess openipsl.org would be the best fit as it pertains questions only to openipsl. @marcelofcastro can take care of this.

[2019-02-19 10:07] dietmarw opened #182 "Better implementation of PSTransformer"
The current implementation is duplicating lots of code and really should be done by reusing the standard TwoWindingTransformer instead of pst1.
pst2 is so special that it could be embedded in a new model called "PhaseShiftingTransformer" and at the same time getting rid of the package with the same name.

[2019-02-20 10:41] dgusain1 commented on #174
I have similar problems. But in my case, the simulation does not go through. Im using the Two area system from Application Examples.

[2019-02-27 18:01] dietmarw opened #185 "Angle limits in PSAT PhaseShifting transformer not working"
In `OpenIPSL.Electrical.Branches.PSAT.PhaseShiftingTransformer.PSTransformer` the angle limits simply do not work the reason being that in order to determine of `alpha` is outside the `alpha_min` and `alpha_max` range it does the following comparison:

[code]
Problem is for steady state conditions (like a very simple power flow example) `alpha` and `pmes` do not change and hence `alpha` stays as i

[2019-02-28 15:29] dietmarw commented on #185
See also #182.

[2019-02-28 15:31] dietmarw commented on #97
This was fixed as part of #177.

[2019-02-28 15:31] #97 closed

[2019-02-28 15:39] dietmarw commented on #92
Should have been closed long time ago.

[2019-02-28 15:39] #92 closed

[2019-02-28 15:54] dietmarw opened #186 "Include PSAT PSS and load models from FOSSEE1 branch"
In order to check some boxes in #81 the FOSSEE1 branch provides the following models that could be merged(target location):

 - Examples.Loads.PSAT.ThermostatLoad
 - Examples.Loads.PSAT.BaseClasses.LoadBase (and adapt the other existing load tests for this)
 - Electrical.Loads.PSAT.ThermostatLoad
 - Electrical.Controls.PSAT.PSS.PSSTypeI
 - Electrical.Controls.PSAT.PSS.PSSTypeIII

The OEL models ar

[2019-03-11 15:21] dgusain1 opened #187 "Bus angles never constant"
I have noticed that in many (nearly all) application example models based on PSAT library, the bus angles are always incorrect. After simulation, if there is an event, angles are increasing or decreasing, (wrapped around by the -180, 180 degree limit). Even when there is no event, angles seem to be never constant. This is not the case when there is no controller (AVR, GOV etc. that is for a purely

[2019-03-11 15:54] #187 closed

[2019-05-27 13:52] marcelofcastro commented on #174
This problem occurs also when using `Electrical.Banks.PwShuntC` and `Electrical.Banks.PwShuntR` and it occurs during the initialization. When the variable is an iteration variable of the initialization problem and no start value is given, 0 is used and this is what is causing the problem. Some non-linear solvers in Dymola are able to deal with the problem (as it is shown below) but I don't know ab

[2019-06-12 09:10] dgusain1 opened #188 "Application Examples and Library have mixed notations"
The latest version of OpenIPSL library has changed voltage notations for loads (as far as I have checked) to v_0, while the application examples still use V_0. This causes translation errors.

[2019-06-12 15:13] dietmarw commented on #188
Hi, if you mean with latest version the `master` branch which is in development then yes. This is something we are aware of. Latest stable version is still https://github.com/OpenIPSL/OpenIPSL/releases/tag/v1.5.0

Could you confirm and close if this issue is regarding the (unstable) master branch?

[2019-06-12 19:52] #188 closed

[2019-06-19 09:40] dietmarw opened #189 "Inclusion of discrete ULTC"
The current model of the ULTC is continuous only and not really very useful for that reason. A better discrete implementation was developed by Mohammed Ahsan Adib Murad. Now when trying to adapt his model to the current OpenIPSL structure i have the following question:

  The current continuous model is based on PSAT and hence placed under `OpenIPSL.Electrical.Branches.PSAT.ULTC_VoltageControl`. S

[2019-06-19 14:42] ahsanKTH commented on #189
I agree with the location you suggested ('OpenIPSL.Electrical.Branches.Transformers.ULTC'). My only suggestion is to rename for example: 'OpenIPSL.Electrical.RegulatingTransformers.ULTC'. Then we can put all different regulating transformers into the package: RegulatingTransformers. Because in coming days we will add few more ULTC models (different discrete type) in the library.
Or Luigi can decid

[2019-06-19 14:45] lvanfretti commented on #189
Hi,

No, the discontinuous model is not based on PSAT, is based on the paper from Hiskens.

So, I think it should have a different place in the structure.

In the library, depending on the "reference" upon which the model is based, we use sub-packages according to the reference, e.g.:
`OpenIPSL.Electrical.Branches.PSAT.x_branch_model_name`

So, to be consistent, unless the model is in PSS/E or in

[2019-06-19 18:46] dietmarw commented on #189
Generic sounds good. I wonder if it really is necessary to have an own ULTC package instead of having a "Transformer" package where we then can have the different transformer models (controlled and non-controlled).

As for documentation, I will be adding the PDF and the LaTeX sources in an improved (and fixed) way. You can already check them out in my branch: https://github.com/dietmarw/OpenIPSL/t

[2019-06-20 14:13] dietmarw commented on #174
That looks like a good solution. Actually I'm going one step further and defining the non-zero start value (only a guess value after all) for `OpenIPSL.Interfaces.PwPin.ir|ii` itself. I don't think that will cause any problems and will on the contrary solve also other example models. PR is coming up.

[2019-06-24 10:38] dietmarw commented on #189
So I started with moving the classes of interest over into OpenIPSL. I've ended up adding three new classes:

 * `OpenIPSL.Examples.Branches.Generic.ULTC` which represents the updated and cleaned up version of `Hisken.DAIS.Test_System_HiskenLoad_new`
 * `OpenIPSL.Electrical.Branches.Generic.ULTC` which is `Hisken.DAIS.TransformerDiscrete2` (no point in including the older work in progress models)

[2019-06-27 08:04] lvanfretti commented on #189
@dietmarw I need to sit down and see if there is any difference in the load models, unless @ahsanKTH can tell us what is special about it, but probably it is just made to comply with the model used in the paper. Let me see if I get sometime this weekend.

Anyway, I think we can just call it "...Loads.Generic.LoadH" and put in the comments that this corresponds to the paper of Hiskens.

[2019-06-29 08:50] ahsanKTH commented on #189
@lvanfretti the load model is an exponential recovery load, with certain parameter settings. You are right I implemented same equations given in the paper of Hisken to get similar results.

[2019-06-29 13:31] lvanfretti commented on #189
@ahsanKTH thanks!
@dietmarw then I think we should name the load model: "...Loads.Generic.ExponentialRecovery"

[2019-07-01 11:34] marcelofcastro commented on #174
@dietmarw That means that this issue was solved, right?

[2019-07-01 11:56] #174 closed

[2019-07-29 18:54] marcelofcastro commented on #93
@dietmarw are you going to remove PwShuntC and PwShuntR from the library since issue #174 is solved?

[2019-07-31 14:55] marcelofcastro commented on #189
@ahsanKTH, @lvanfretti and @dietmarw, I checked the model for the exponential recovery model created by Ahsan and it is just another version of the already-implemented Loads.PSAT.ExponentialRecovery.

Hiskens' paper used by Ahsan and PSAT manual use the same reference for exponential recovery loads: D. J. Hill, “Nonlinear dynamic load models with recovery for voltage stability studies,” IEEE Trans

[2019-07-31 20:30] lvanfretti commented on #189
@marcelofcastro ok with me.
Please do replace Ahsan's model with the PSAT model and parametrize it to get the same response as the one that Ahsan's example is giving.

[2019-08-05 15:20] marcelofcastro commented on #189
Ok @lvanfretti.
@dietmarw should I do this in your forked branch of OpenIPSL, where you already have Ahsan's system implemented?

[2019-08-05 15:31] dietmarw commented on #189
@marcelofcastro Today was my first day back at work. I will have a look during the week and let you know what I've already done and what still needs doing.

[2019-08-23 18:02] #93 closed

[2019-08-25 17:49] #189 closed

[2019-09-08 20:47] syedyasserali opened #193 "wt4g1_wt4e1"
i was using wt4g_wt4e in my model using openIPSL i gave example values in the model but i was encountering error

![1w](https://user-images.githubusercontent.com/52651519/64494226-f13a1e00-d2a7-11e9-9341-b5cf378fe5b1.PNG)
![2w](https://user-images.githubusercontent.com/52651519/64494227-f13a1e00-d2a7-11e9-9c16-4b551b2b6212.PNG)
[er.docx](https://github.com/OpenIPSL/OpenIPSL/files/3588037/er.docx)

[2019-09-11 03:08] MaximeBaudette opened #194 "new units improperly implemented in Threephase example"
Hi,

I was working with the Three phase package and got inconsistent results until I realized that proper units had been implemented in OpenIpsl, but it didn't make it to the example libraries. (@dietmarw I'm suspecting you did the push for the units ;-) )

Also I was wondering, shouldn't the network examples be moved back to the main library ? or at least in a different structure as Dymola won't

[2019-09-11 08:17] dietmarw commented on #194
Yes correctly the examples have not yet been converted in the development version (i.e., master). There are several reasons for this:
 - It was planned to go through all examples to see which one should be kept, which ApplicationExamples should be included directly etc.
 - The examples also served the purpose of testing the automatic conversion for now. There are still some problems also on the to

[2019-09-11 14:06] MaximeBaudette commented on #194
Hi Dietmar,

Yes I meant including the Application Examples directly into the main OpenIPSL package, at least for the standard network models. I know I made the argument before to keep them separated, but I feel like it was the wrong decision, as it is more difficult to keep them in sync.

I'll prepare a PR with some of the updates I made manually on the three  phase package.

[2019-09-11 14:07] dietmarw commented on #194
You don't say :smile:

:+1:

[2019-11-13 23:31] MaximeBaudette commented on #194
Alright, long overdue, also I made some error when pushing (pushed directly to the master of OpenIPSL) which I corrected.
You'll find my PR now.

[2020-02-17 16:07] #7 closed

[2020-02-19 13:09] syedyasserali opened #200 "issues with new version of OpenModelica 1.14"
there issues during simulations with new version of open modlica. they are
1) It is giving error like, components "not found in scope" or "not found in OpenIPSL". Many elements are not recognised which were used in the previous OpenModelica versions. Please refer to the attached figure 1.

2) The component values are changed or deleted in the latest OpenModelica version. Please refer to the attach

[2020-02-19 13:23] dietmarw commented on #200
It looks like you are using a newer version of OpenIPSL than the one you originally created. The latest stable version is: https://github.com/OpenIPSL/OpenIPSL/releases/tag/v1.5.0

The model that you are getting an error on has been removed in the current development version and an improved version  `PwSunt` is to be used instead. When you work with the development version you will have to convert

[2020-02-19 13:23] #200 closed

[2020-02-19 16:02] lvanfretti commented on #200
@syedyasserali in other words, do not use the OpenIPSL library that ships with OpenModelica.
Download the stable version instead and use it: https://github.com/OpenIPSL/OpenIPSL/releases/tag/v1.5.0

[2020-02-19 16:40] lvanfretti opened #201 "Proper Commit Rules"
@dietmarw @marcelofcastro @GiuseppeLaera

Given recent conversations, mainly with PR #199 , I think we need to establish proper commit rules going forward to avoid confusion.

The issue with trailing white spaces and dummy annotations seems to be already resolved by Dietmar in: [MSL #105 ](https://github.com/modelica/ModelicaStandardLibrary/issues/105).

So, I propose that before committing any co

[2020-02-19 18:19] dietmarw commented on #201
Ttws would not really have helped for #199. OpenIPSL is now in a one-file-per-class structure which makes it easy to only stage the files/classes that have been worked on. So the only guide line needed is to look and select what to stage for commit and not do a blind commit.

[2020-02-19 18:24] lvanfretti commented on #201
@dietmarw ok, but still, I would like you to write down "committing for dummies" instructions on how you want people to send this. The reason is that otherwise people will not fully understand where to start from, and it will create unnecessary new issues, maybe this can be simplified...

[2020-02-20 10:07] syedyasserali commented on #200
I have downloaded OpenIPSL from https://github.com/OpenIPSL/OpenIPSL/releases/tag/v1.5.0 and after that i have tried 3 small networks, they are working perfectly. thanks for resolving issue.

[2020-04-23 00:49] lvanfretti commented on #193
@syedyasserali since you didn't upload your model, I have tested the example model WT4G1_WT4E1 in both Dymola and OpenModelica. It works fine in Dymola, but there is an issue in OpenModelica.

This kind of behavior we have seen before with Giuseppe Laera in a new model he is developing, and he had to spend a lot of time refactoring the code to get it to work in OpenModelica.

I suggest you reach o

[2020-04-23 00:49] #193 closed

[2020-04-23 00:51] lvanfretti commented on #76
There's nobody to work on this, so I'm closing it.

[2020-04-23 00:51] #76 closed

[2020-04-23 00:53] lvanfretti commented on #162
@marcelofcastro please put this in your to do list.

[2020-04-23 00:54] lvanfretti commented on #194
@MaximeBaudette tic toc, almost end of April, will you get some time to fix this? Thanks!

[2020-04-26 17:44] MaximeBaudette commented on #201
@dietmarw
Can you add the TTWS to a PR CI to automatically run the script and commit the result onto pending PRs?

[2020-04-26 18:21] dietmarw commented on #201
It is not a good idea for the CI to make commits to the repository. Running bulk ttws would also do more harm to models that should not be touched since not part of the original PR. Also it looks like the current CI system does not work properly since it does not allow merging but does not report an problems either. Maybe at a first step it would be good to get the current CI system in shape again

[2020-05-21 13:25] lvanfretti commented on #55
JModelica is no longer developed by Modelon and we will not deal with it going further.

[2020-05-21 13:25] #55 closed

[2020-05-21 13:33] lvanfretti commented on #88
This is no longer relevant, new test suite being developed by Marcelo and Manuel.

[2020-05-21 13:33] #88 closed

[2020-05-21 13:34] lvanfretti commented on #14
This is being taken care of by Marcelo and Manuel, will be resolved in v2.

[2020-05-21 13:34] #14 closed

[2020-05-21 13:36] lvanfretti commented on #136
Don't think Maxime will do this. I will find another way to maintain the tutorial.

[2020-05-21 13:36] #136 closed

[2020-05-21 13:36] lvanfretti commented on #170
I'm giving up supporting SystemModeler, we don't have the bandwidth.

[2020-05-21 13:38] lvanfretti commented on #26
Being replaced with new CI by Marcelo and Manuel in the next release.

[2020-05-21 13:38] #26 closed

[2020-05-21 13:42] marcelofcastro commented on #26
@lvanfretti I think the CI will be replaced in v2.0 not v1.9...

[2020-05-21 13:43] marcelofcastro commented on #14
@lvanfretti, let's wait for the pull requests to be merged. After that we can check if that problem was or was not solved. Isn't it better to wait?

[2020-05-21 13:59] lvanfretti commented on #14
@marcelofcastro you can mention this issue when the day comes.
A lot of these issues were opened by people that are no longer actively working on OpenIPSL, unless there is someone to take care of the problem, I'm closing the issue. There is not point to have a bunch of open issues.

[2020-05-21 14:00] lvanfretti commented on #119
Nobody followed up, I'm closing the issue.

[2020-05-21 14:02] lvanfretti commented on #26
@marcelofcastro fine, but still, it won't be related to this issue.
Nobody is taking care of it, and it will be replaced, so I'm closing this.

[2020-05-21 14:13] marcelofcastro commented on #119
@lvanfretti I am following up on this. I am fixing GGOV

[2020-05-21 14:16] lvanfretti commented on #119
@marcelofcastro then assign yourself to what you are doing and make a note it the Issue.
I don't want any open issue without someone taking ownership of it. Otherwise, we are closing it and marking it with "wont fix"

[2020-05-21 17:10] marcelofcastro commented on #119
I'm taking over this issue

[2020-05-21 17:11] marcelofcastro commented on #194
I'm taking over this issue

[2020-05-21 17:11] marcelofcastro commented on #150
I'm taking over this issue

[2020-05-21 17:17] MaximeBaudette commented on #194
I did fix it, it's in the PR

[2020-05-21 18:10] lvanfretti commented on #82
@marcelofcastro let's create a new issue with our new priorities. This issue refers to the models necessary to model the full Nordic grid model. Since we are not supported to do that work, we need to create another list that is aligned with the current efforts.

[2020-05-21 18:10] #82 closed

[2020-05-21 18:13] marcelofcastro commented on #164
Guys, was this issue solved? Did we changed the names?

[2020-05-21 18:18] dietmarw commented on #164
I need to check. Probably will manage that next week.

[2020-05-21 19:05] marcelofcastro commented on #194
Yeah, I know. I am just trying to let @lvanfretti know that I am currently working on this issue, since I am working on the PR. Sorry if it was confusing...

[2020-05-22 07:05] dietmarw commented on #164
I had a look this morning. So nothing was changed for now. The thing really is to decide how the PSAT models should be used. Given the name the idea is probably to be able to recreate PSAT examples using OpenIPSL. In that case it would be unfortunate that the AVR types are different wrt PSAT even though more correct wrt the original IEEE source.
So my suggestion is to maybe simply document inside

[2020-05-22 11:25] lvanfretti commented on #164
This is a good approach, the original intent was to clone PSAT models and examples for dynamic studies.
On May 22, 2020, 3:05 AM -0400, Dietmar Winkler <notifications@github.com>, wrote:

[2020-05-28 12:38] dietmarw commented on #170
This has nothing to do with SystemModeller but rather incorrect initialisation in general. Just like Dymola also supported. So this should not be closed but fixed since it will cause problems independent of the tool. I've also changed the title.

[2020-06-09 16:32] #194 closed

[2020-09-04 12:34] tinrabuzin opened #205 "PSAT Induction Machine Initialization"
Initialization of PSAT machine relies on the fact that machine's equations are included in the power flow calculations which result in the initial active and reactive powers (P_0 and Q_0). I think that as long as PSAT is used this is fine.

It might be good to include an option of compensating the reactive power with a shunt to match Q_0 which is not specified using the "correct" power flow equati

[2020-09-04 15:12] lvanfretti commented on #205
@tinrabuzin that's a good idea, I suggest that you can inherit the existing PSAT model and create a new one that includes this possible compensation. However, I don't know how the value of the compensation would be then provided by the user? Should we expect they do it with trial and error?
@marcelofcastro do you have any ideas on this? Manuel has been working with PSAT models, maybe he can help w

[2020-09-04 15:15] tinrabuzin commented on #205
@lvanfretti The compensation can be automatically determined during initialization. I'll try to include this soon.

Btw, there is also a  startup flag in the induction machine models, but the functionality is not included there. We should maybe consider opening a new issue for that...

[2020-09-04 15:25] lvanfretti commented on #205
@tinrabuzin if it can be done through initialization, that would be ideal.

Yes, the start-up should probably be included, but we should be careful how to do that. Probably it is best to either set that as a "timed event" so that it does not create events that will speed down the simulation.

[2020-09-23 07:07] tinrabuzin opened #206 "Changes of pfComponent's parameters during initialization"
I was trying to set the parameters of an element model that uses pfComponent in `initial equation` of the network model (basically via hand written power flow equations).

But I was running into some issues when writing, e.g. `element.P_0 = P_powerflow`. The message that I get (in OpenModelica) is:
[code]

I added `P_0(fixed=false)` while extending pfComponent but the same message appeared. The pr

[2020-09-23 10:08] dietmarw commented on #206
@tinrabuzin  `P_0` inside `pfComponent` is simply a parameter and has nothing with initialisation to do. So in order to understand your problem we'd need some more information on your model.

[2020-09-23 10:18] tinrabuzin commented on #206
@dietmarw I agree with you that it has nothing to do with initialization the way we've been modelling networks so far. But as I wrote above, I put a handwritten set of powerflow equations in the model that are solved during initialization and as a result output P_0 (among other variables). For instance, like this:
[code]

[2020-09-23 10:24] dietmarw commented on #206
Still I have difficulties seeing where `pfComponents` comes into play here. It is not used in your code. So in order to debug one would have known what `Element` looks like since there you seem to have a overdetermined initialisation.

[2020-09-23 10:27] dietmarw commented on #206
Also `fixed=false` is not meaningful on a parameter. That only works on variables with start values.

[2020-09-23 10:33] tinrabuzin commented on #206
Elements are any kind of models in OpenIPSL that extend `pfComponents`. You can think of element1 being a generator like GENSAL and element2 being a ZIP load model.

I don't see why the initialization is overdetermined. I have 8 initial equations and 8 unknown parameters. Thus why I have `fixed=false` with parameters. Also, I'm not sure `fixed` is restricted only to variables...

[2020-09-23 11:53] dietmarw commented on #206
Well sure you can use fixed=false on parameters but this just means that they might get random values assigned during initialisation which they then keep during the simulation. I don't think that is what you want though.
Anyway, if you want to solve it I would need a minimal working example to diagnose.

[2020-09-23 12:03] tinrabuzin commented on #206
Yes, exactly for the reason to avoid random values is why I wrote the initial equation section.

[2020-09-23 13:22] dietmarw commented on #206
Yes as I said, fixed=false does not make sense when you at the same time provide binding equations.
As for your overdetermined, please share a complete model where you get the error message.

[2020-10-07 12:14] junjie-zh opened #207 "Error running N44 example"
[code]
Hi, with the newest commit I'm unable to run N44 example.  Looks like the `V_0` should be `v_0`?
The similar error message is also reported to bus instances.
Is this a known issue?

[2020-10-07 12:17] dietmarw commented on #207
It looks like you are using the current development version instead of the last stable release. The examples have not yet been adapted to the newest development version. So I suggest you download the latest release: https://github.com/OpenIPSL/OpenIPSL/releases/tag/v1.5.0 instead.

[2020-10-07 12:29] junjie-zh commented on #207
Many thanks for the quick reply!
I checked out v1.5.0, the compilation succeeded, but the simulation (of `N44.Original.Nordic44_Original_Case`) is not converged, it looks like there's many zero divisions

[code]

[2020-10-08 05:56] dietmarw opened #208 "Incorporate capability diagram animation with eleven bus example"
In 2019 a nice visualisation of the generator's capability diagram was created as part of @211941's Master's thesis. This would make for a nice example even though the animation as of today will only work in Dymola but might work also in OMEdit at one point.

[2020-10-08 14:58] dietmarw commented on #207
I tested it in Dymola 2020 and it works fine. So my guess it the problem is not necessarily on the OpenIPSL side but on the tool side. So you should contact the developers of the tool you were using and they might be able to help you further.

[2020-10-08 14:58] #207 closed

[2020-10-13 16:21] dietmarw opened #210 "OpenIPSL.Electrical.Solar.KTH.Auxiliary.Terminator gives dimension warning"
When checking `OpenIPSL.Electrical.Solar.KTH.Auxiliary.Terminator` there is a unassigned dimension warning for `Value`. This could probably be improved so it does not throw a warning.

[2020-10-14 06:44] dietmarw opened #217 "Mark verified models via a distinctive icon"
I think it would be a good idea to mark models that are verified also visually. One idea which is the least intrusive would be to adopt what the MSL is doing for obsoleted models which simply extend from `Modelica.Icons.ObsoleteModel`. So for the verified models I would simply create an icon model `VerifiedModel` with a green stipulated frame which then all verified models can extend from.

[2020-10-14 07:54] dietmarw opened #220 "CI setup needs to be updated"
The current set of docker images and CI test scripts fail. Without investigating in detail just looking at the docker files and scripts the following issues should be fixed:
- `Dockerfile`
  - should be put under `CI/`
  - is loading MSL 3.2.2 when OpenIPSL is at 3.2.3
  - updating to ubuntu 18.04 (i.e., `phusion/baseimage:1.0.0`) would be a good idea
- python scripts
  - python 2 is discontinued

[2020-10-14 08:03] dietmarw opened #221 "Remove SMIBpartial2 and instead update SMIBpartial"
The new base model for examples `OpenIPSL.Examples.SMIBpartial2` is probably not necessary. Instead I suggest to update the existing `SMIBpartial` model with the changes done in `SMIBpartial2`. The additional shunt and the split of the power line should not have an impact on any of the examples.

[2020-10-14 08:47] dietmarw opened #223 "Rename STB5B to ESST5B"
When working on #222 I noticed that there exist an example and model for `ST5B` which probably should be called `ESSTB5` just like the 1A and 4B variant.
I can create a PR if that is fine.

[2020-10-14 10:39] dietmarw commented on #220
@MaximeBaudette  could you give me access rights to Travis so I can try to fix some of the setup?

[2020-10-14 10:43] dietmarw commented on #67
the clahub.com service no longer exists. I've now removed the webhook from the settings. As an alternative I can set up https://cla-assistant.io/ which seems to be more robust and also the MSL is using.
@MaximeBaudette Do you still have the actual CLA statement that you used for clahub.com?

[2020-10-14 11:40] lvanfretti commented on #217
Agree, something even prettier is what they do in the EPSL library, where they have a little rectangle with a color to designate the model fidelity (in this example they are all yellow though): https://github.com/modelica/newsletter/blob/master/_2018-01/EPSL.md
We could instead use a similar approach to designate if the model has been verified again in the work we are doing.
Also, we should add to

[2020-10-14 13:58] marcelofcastro commented on #223
@dietmarw there is no `ESST5B` in PSS/E. The correct name for the standard model is `ST5B.` It is quite silly, but I guess it is better to maintain the PSS/E naming for easy correspondence. Therefore, I believe we should keep the name `ST5B`.

[2020-10-14 13:58] marcelofcastro commented on #223
If you agree with that, we can close this issue.

[2020-10-14 14:01] marcelofcastro commented on #221
This is true. The `SMIBpartial2` can supersede `SMIBpartial`. As you said the additional shunt and would not cause any problem in the simulation of the other models.

[2020-10-14 15:17] dietmarw commented on #221
OK in that case I can create a PR where I also clean up the SIMBpartial at the same time. Because it currently does look rather ugly.

[2020-10-14 15:18] dietmarw commented on #223
Yes in that case it makes sense to keep it as is.

[2020-10-14 15:18] #223 closed

[2020-10-14 15:21] dietmarw commented on #217
The problem with the rectangle is that it needs to be placed **on** the icon. Now this works if you have a unified system where there is unused space on all icons. This is not the case for OpenIPSL and would take quite some effort to do so. My first thought was actually a small green check mark in the corner of an icon. So having the green frame would at least work on all icons.

[2020-10-14 16:11] lvanfretti commented on #217
Oh, then we go for the easiest solution.
I think I need to get some graphic designer to re-do all icons for us in
the future.

On Wed, Oct 14, 2020 at 11:22 AM Dietmar Winkler <notifications@github.com>
wrote:

--
Luigi Vanfretti, PhD, Associate Professor
ALSETLab.com <http://alsetlab.com/> - ECSE <https://www.ecse.rpi.edu/>, RPI
<http://rpi.edu/>, Troy, NY, USA <https://goo.gl/maps/mVowWWPLtL72>

[2020-10-14 17:26] dietmarw commented on #217
I think you can use your energy on better things than fighting with designers ;-)

[2020-10-15 06:07] #221 closed

[2020-10-15 14:04] dietmarw commented on #217
I started working on this. What a can of worms I've opened with that .... :-(

[2020-10-15 14:41] marcelofcastro commented on #217
@dietmarw what happened?

[2020-10-16 12:15] dietmarw opened #226 "GGOV1 needs to get cleaned up."
`Electrical.Controls.PSSE.TG.GGOV1.GGOV1` needs to be moved one level up and the support models for that block put under `BaseClasses`.  At the same time the documentation needs to get fixed for the support models.

[2020-10-16 12:48] dietmarw opened #227 "Possible unit issue in GENCLS"
Whilst cleaning up I found this in GENCLS:
[code]
whilst later `delta0` is calculated:
[code]
and is clearly rad. I think the type of `delta` also needs to be `SI.Angle` and the "(deg)" comment needs to be removed. If the user should enter the value in deg then the displayUnit annotation should be used instead.

[2020-10-16 12:49] dietmarw commented on #227
I'm holding of the "verified" certification for that class until this issue has been resolved.

[2020-10-16 14:14] dietmarw opened #229 "GENCLS has overdetermined variable"
in GENCLS omega is defined as:
[code]
So a variable with a fixed start value. Only when used in combination with `H=0` it is set to constant 0 which causes problems.
Removing the `fixed` attribute would solve this problem.
I can create a PR if that is the right solution.

[2020-10-16 14:28] dietmarw commented on #150
I just ran the example and can confirm 3. . The OpenModelica issue (2.) seems no longer valid as I get the the expected 1 pu voltage value.

[2020-10-16 14:34] dietmarw commented on #150
Thinking about 3. a bit  ... the equation for I_T is simply wrong. It should be:
[code]

[2020-10-16 15:02] marcelofcastro commented on #150
So, (1.) and (2.) were basically related to the initialization of the exciter and due to some connections that were wrong. This is solved already. About (3.), @dietmarw is right and we just need to replace the equation.

[2020-10-16 15:14] marcelofcastro commented on #220
@MaximeBaudette and @dietmarw do you guys have any idea why the syntax check/ travis build stopped working?

[2020-10-16 15:15] lvanfretti commented on #217
@dietmarw I hope it is not too much of a problem, sorry to hear this.

[2020-10-16 15:17] marcelofcastro commented on #227
you're right!

[2020-10-16 16:52] dietmarw commented on #227
OK in that case I'll fix this inside #228.

[2020-10-16 17:02] dietmarw commented on #150
OK I'll provide a fix as soon as #228  is merged.

[2020-10-17 10:26] #217 closed

[2020-10-17 10:26] #227 closed

[2020-10-17 10:43] #150 closed

[2020-10-17 11:41] dietmarw commented on #226
Also good to look at #119 at the same time.

[2020-10-17 11:49] dietmarw commented on #112
@marcelofcastro   Did your work on the units already fix this?

[2020-10-17 11:52] dietmarw commented on #186
@Biswarup I was wondering if you could simply add some short documentation to the models. I can then take care of adding them to the OpenIPSL library itself.

[2020-10-19 09:11] dietmarw commented on #186
Never mind @BiswarupM. I've added some references to the models in #232.

[2020-10-19 10:07] dietmarw commented on #81
PSS Type I and III and Thermostatically  Controlled Load have been added in #232 from the FOSSEE1 branch

[2020-10-19 14:04] #210 closed

[2020-10-19 14:22] #186 closed

[2020-10-19 14:29] #164 closed

[2020-10-19 15:09] marcelofcastro commented on #112
@dietmarw I will check if the units fix this issue

[2020-10-19 19:22] BiswarupM commented on #186
No problem @Dietmar. I just saw it.
Thanks!

On Mon, Oct 19, 2020 at 11:12 AM Dietmar Winkler <notifications@github.com>
wrote:

[2020-10-20 12:34] dietmarw commented on #220
So I fixed it all in #224. Ideally we could use GitHub Actions but the syntax of the setup is quite a bit different to travis.  @mannuelnvro If interested you can have a look at #234 at my pathetic attempts to get that going. But maybe even better to start from scratch.

[2020-10-20 16:59] #220 closed

[2020-10-20 17:03] dietmarw commented on #220
I actually forgot to move the Dockerfile but probably leave that for now.

[2020-10-23 09:34] dietmarw commented on #185
PR #236 takes care of this.

[2020-10-23 09:39] dietmarw commented on #179
I noticed that instead of pointing to openipsl.org the updates done recently simply update Luigi's email address. This is not ideal.
The whole table itself should be moved into the revision section (see `PhaseShiftingTransformer` in  PR #236 as an example).
But in general I would say the contact row is really superfluous. Simply pointing to (or just having) a proper `UsersGuide.Contact` class with

[2020-10-23 16:34] marcelofcastro commented on #170
So the conflict was very simple. Bus LOAD needed to have the same v0 and angle0 as the device Load in the SMIB examples. They were defined with different values although they were supposed to have the same value. In addition, the equation for GENCLS should, in fact, be `der(omega) = 0` if H = 0, instead of `omega=0`. I am preparing a PR to solve this issue.

[2020-10-23 16:36] marcelofcastro commented on #170
#229 will be solved with this PR as well.

[2020-10-23 17:01] #182 closed

[2020-10-23 17:01] #185 closed

[2020-10-23 18:02] lvanfretti commented on #179
@dietmarw I agree, we should have the `UsersGuide.Contact` instead.

[2020-10-24 23:32] #170 closed

[2020-10-24 23:32] #229 closed

[2020-10-27 14:27] lvanfretti commented on #226
@dietmarw other than the issue in #119 on the connection, another thing that Miguel did was to look at the diagram and try to reorganize the whole mess into logical pieces, i.e. what each part of the diagram represents, and then separate it in blocks. The final version of that model is in this repo: [link](https://github.com/ALSETLab/2018_AmericanModelicaConf_PowerGrid_plus_PowerSystems).

[2020-10-27 14:28] lvanfretti commented on #226
@marcelofcastro this would be a good assignment for Fernando so he learns the workflow of cleaning up things with you. Can you discuss with him and have him help @dietmarw ?

[2020-11-11 15:29] marcelofcastro opened #245 "OM Compatibility"
Models such as:
- [ ] PSS2A
- [ ] PSS2B
- [ ] WT4E
- [x] EXST1
- [ ] STABNI
- [ ] ESAC2A
- [ ] GGOV1
- [ ] GGOVDU1

are not working in OpenModelica or struggle numerically during simulation.

Need to fix it for compatibility with open-source tool.

[2020-11-11 15:33] marcelofcastro opened #246 "Moving Application Examples"
We need to move application examples inside the library and set examples to be called Unit Tests.

[2020-11-11 15:48] marcelofcastro opened #247 "Version 2.0.0 Release"
### Issues to solve for 2.0.0 release:

- [x] #250
- [x] #246
- [x] #226
- [x] #179
- [x] #165
- [x] #162
- [x] #160
- [x] #119
- [x] #112
- [x] #67
- [x] #219
- [x] #255
- [x] Mirror the info of the packages structure in the OpenIPSL landing info layer.
- [x] #287
- [x] #277
- [x] #173
- [x] General clean-up before release, like description sentence in packages and verification of documentation d

[2020-11-16 06:51] JosifFP opened #248 "DisplayPF: voltage and angle values are not display in buses"
Hi!,
I am starting in OpenIPSL and OMEdit, learning from examples and tutorials.
I have not resolved and understood why PF values in buses are not displayed in my examples (IEEE9 Bus)
[IEEE9Bus.zip](https://github.com/OpenIPSL/OpenIPSL/files/5544533/IEEE9Bus.zip)

I was using OpenModelica 1.16.0 and OpenIPSL 1.5.0. for what I have mentioned before.
I tried with OpenModelica 1.13.0 and OpenIPSL 1.5

[2020-11-16 09:43] dietmarw commented on #248
Unfortunately the support of [Variable Graphics and Schematic Animation](https://specification.modelica.org/v3.4/Ch18.html#variable-graphics-and-schematic-animation) is currently extremely limited in OMEdit. You can follow the progress in [Open Modelica #5631](https://trac.openmodelica.org/OpenModelica/ticket/5631). So these features will not work in OMEdit. They do work as expected in Dymola (hav

[2020-11-16 09:43] #248 closed

[2020-11-16 14:58] JosifFP commented on #248
Thank you for your answer, Dietmar.

[2020-11-19 13:40] dietmarw opened #250 "Introduce normalisation in addition to SI units?"
When looking at the [PowerGrids](https://github.com/PowerGrids/PowerGrids) library (which basically is a different approach to reimplementing iPSL but making the most of Modelica functionality) I noticed that they are not only using SI and pu but make also use of the `nominal` attribute. What this basically does is telling the solver in which range numbers will "live" and hence avoiding numerical

[2020-11-19 13:49] tinrabuzin commented on #250
Just to add to this, I noticed significant improvements during initialization of my models (which partially use OpenIPSL) when I set nominal values.

[2020-11-19 14:02] lvanfretti commented on #250
@dietmarw I don't know if it's a good idea for version 2.0.0, maybe we can put that latter... it depends on how much time you can put into it, we definitely want to release the new version of the library before the end of the year. What do you think @marcelofcastro ?

[2020-11-19 14:04] dietmarw commented on #250
That change takes (me) about 15 mins to incorporate.

[2020-11-19 14:11] lvanfretti commented on #250
@dietmarw then if that's the case, that would be great to have!
We need somehow to compile a list of main improvements, so let's not forget this one!

[2020-11-19 14:13] dietmarw commented on #250
That's what we have PR and issues for here ;-)

[2020-11-19 14:30] lvanfretti commented on #250
@dietmarw awesome!

[2020-11-19 14:32] dietmarw commented on #250
I think I managed it also in time :-)

[2020-11-19 14:36] lvanfretti commented on #250
Well, I am very happy that we have your help in this library @dietmarw ! Thank you for everything you are doing!

[2020-11-19 14:47] lvanfretti commented on #247
@dietmarw @marcelofcastro can we add:
- modify/update the readme.md. We need to synthesize and move materials that are not needed in the landing markdown to others. I think it would be great if it could look like other Github repositories, and move other things accordingly.
- add funding information. @marcelofcastro we need to add the support of NYPA/NYSERDA and CURENT, I need to add OpenCPS suppo

[2020-11-19 14:55] dietmarw commented on #247
OK I'll try to include a personal paypal donate button then. :-D

[2020-11-19 17:36] casella commented on #250
Given our analysis, I'm hardly surprised 😄

[2020-11-20 07:39] #250 closed

[2020-11-20 14:34] lvanfretti opened #253 "Add HVDC models from Super Grid Institute"
Add HVDC models and examples from Super Grid Institute.

[2020-11-25 15:40] marcelofcastro commented on #226
Issue solved with PR #254

[2020-11-25 15:40] #226 closed

[2020-11-25 15:41] marcelofcastro commented on #119
Issue solved with PR #254

[2020-11-25 15:41] #119 closed

[2020-11-26 08:59] dietmarw opened #255 "Uniformly use only SI angle with radians for calculations"
Currently the OpenIPSL uses angle sometimes as radians and sometimes as customised degree unit which then gets converted to radians for calculations. This makes it unnecessarily complex and also gives the opportunity to get mixed up by accident. After the introduction of SI units we should also make sure that all angle **calculations** are done using radians. The tools will always give the possibi

[2020-11-26 09:13] dietmarw opened #256 "GENCLS model needs to get investigated"
There is something not quite right with the `GENCLS` model. It is supposed to be a constant voltage source but contains parameters like resistance and reactance which is conflicting information. So either the model or the documentation needs to be updated.

[2020-11-26 14:56] marcelofcastro commented on #256
No it is not a constant voltage source. It is classical generator model. Which means classical swing equations. It works as a constant voltage source (infinite bus) if you set inertia to zero. Documentation might be just describing the infinite bus role, but model is correct.

[2020-11-26 15:27] dietmarw commented on #256
Not so fast with closing this one. Please have a look at the model and where it is used in examples first. It currently has protected parameters which lead to double initialisation. This lead me to opening this ticket since there are parameters used/defined which should not have to be defined if the model does what the documentation says.

[2020-11-28 23:37] marcelofcastro commented on #256
Are you sure that GENCLS is the problem? Documentation is actually correct:

Resistance and Reactance are used in both so nothing wrong regarding parameters.

When I displayed conflicting initial variables were actually pointing to currents in the lines that have basically two options:
- Machine precision from start values in `Interfaces.PwPin` (something that we did in the past, don't remember wh

[2020-12-01 18:41] #256 closed

[2020-12-09 22:20] #255 closed

[2020-12-10 08:27] dietmarw opened #260 "PSSE WT1G models accidentally removed."
Currently the `WT1G` models are no longer present. These have been removed as part of #151 in order to fix #148. But it looks like the WT1G models should never have been part of that PR. Anyway, in case those models still have value in addition to the `WT3G` and `WT4G` models that are currently present then the links given above should help recovering those.

[2020-12-10 13:01] #179 closed

[2020-12-11 07:48] dietmarw commented on #67
I found the CLA. It actually was just a section in the README and was removed in c26fd99d128f01cb091542165e80c4f9d40ab7e8
So might just aswell create a new one from scratch.

[2020-12-11 17:44] dietmarw opened #262 "Relay4 model contains illegal Real comparison"
Checking with Dymola2021x and OpenModelica a problem is detected :
[code]
I looked and currently that models is not used anywhere in the library and neither in the application examples.

Solution would either be to simply remove it (since it is not used anyway) or rewrite using integer. But since I'm not sure how that block would be used I'm not sure how sensible such a rewrite would be without ha

[2020-12-15 04:44] marcelofcastro commented on #245
ESAC2A should also be investigated.

[2020-12-17 00:57] lvanfretti opened #263 "OCT Compliance"
We are working with Modelon to make OpenIPSL compliant with the Optimica Compiler Toolkit, used in several tools, e.g. Modelon Impact, ANSYS Twin Builder, etc.

Below is the summary of issues from Hubertus Tummscheit when we did some live testing on 12/16/2020:

Fixes proposed:

- [ ] Fix: Loads.PSSE.BaseClassse.baseload.mo, a per attachment in zip.
- [ ] Fix: Machines.PSSE.GENROE.mo, a per attach

[2020-12-17 09:49] dietmarw commented on #263
That looks sensible.

Well then you should do so ;-)
![Peek 2020-12-17 10-48](https://user-images.githubusercontent.com/9332/102471434-7dafc080-4055-11eb-885d-4fd4d1b4223f.gif)

[2020-12-17 10:08] dietmarw commented on #263
The changes could still be included in version 2.0.0.

[2020-12-17 11:34] lvanfretti commented on #263
Thanks, Giuseppe was not in the team yet, so I had to add him and wait for the invitation.
Thanks for doing it!

[2020-12-17 11:37] lvanfretti commented on #263
These ones yes, but the ones that will come up from them testing with OCT, is better we bulk them into a single release.

[2020-12-17 16:45] lvanfretti commented on #263
@dietmarw yes, I think so, but only for these three. We just got access to the latest release of OCT, but we need to install it and do the testing, etc.

The whole testing on the library for OCT compliance will be carried out next semester by @ManuelNvro and @GiuseppeLaera .

However, the debugging will have to wait until May/June when/if @GiuseppeLaera does his internship in Modelon. He is workin

[2020-12-17 17:00] lvanfretti opened #264 "Changing License to BSD-3-Clause"
To align to the Modelica Standard Library, it is necessary to figure out how to change the license to BSD-3-Clause https://opensource.org/licenses/BSD-3-Clause

I will seek for permission from iPSL license holders to do this change.
@dietmarw I presume an email confirmation that we store with this issue can be sufficient?

Let me know what we need to do to achieve this if you have any insight.

@G

[2020-12-17 17:15] dietmarw commented on #264
There is no need. MPL 2.0 is perfectly compatible with BSD

[2020-12-17 18:23] lvanfretti commented on #264
@dietmarw there are two reasons from what I understand, that would require this change:
-  Not having the same license would put some difficulties into "repackaging" the software together with the MSL. This is needed for the research project I have with DOE where we need to release some "self-contained" models.
- The change of the MSL seems to have been driven by the needs of the Buildings library

[2020-12-17 19:38] hubertus65 commented on #264
I can add a bit of flavor to this: in past discussions, DOE/DOE funded lab lawyers have been very strict about not allowing any "copyleft" licenses in the work they fund. For other projects that I am involved in, MSL not being BSD (or, more loosely, anything non-copyleft + open-source) was a hard requirement.

[2020-12-17 19:43] dietmarw commented on #264
Could you clarify that. MSL **not being** BSD was a hard requirement? So for those project it was a bad thing that MSL is BSD?

[2020-12-17 19:54] hubertus65 commented on #264
Continued funding for Michael Wetter's projects around the next generation building simulation tool by DOE, tool codename SOEP or Spawn of Energy Plus, was conditional on MSL changing its license or at least dual-license. Otherwise, DOE would and could according to their rules not package MSL + Buildings library in one package for redistribution. I edited the original code for better clarity.

[2020-12-29 23:37] hubertus65 commented on #263
BTW: I found the reason why the initialization in Dymola and OCT gives different results. In the model "OpenIPSL.Examples.Machines.PSSE.GENROE", The components GEN1.p.vi and gENROE.p.vi (and vr respectively) are the same variables, and initialization can be chosen once in gENROE with an angle_0 of 4.038907 degrees, and in GEN1 with and angle_0 of 0.0 degrees. Both are possible and legal, OCT chose

[2020-12-30 16:03] hubertus65 commented on #263
So: there was an error by me, I made a sign error in changing the syntx. In the linked pull request, both the issue with ULTC, and the Syntax problems in OCT are both fixed. See: https://github.com/OpenIPSL/OpenIPSL/pull/265. But please take a look at the changes to the ULTC model, which are documented in the committ message in detail.

[2021-01-04 22:24] lvanfretti commented on #263
@GiuseppeLaera can you please follow up with this and #265 ?

[2021-01-09 02:16] hubertus65 commented on #263
@GiuseppeLaera: I looked some more at some errors, and found a class of errors (illegal comparison between Reals), for which I have a good idea on a better design pattern for replacing it. Holler once you start working on this.

[2021-01-28 08:00] dietmarw commented on #67
@lvanfretti You might want to discuss this in your team what you need in the CLA. Especially with a potential change of license the CLA is more important for the future than ever before.

[2021-01-28 08:01] dietmarw commented on #112
@marcelofcastro I'm pretty sure this is fixed but still waiting on your check ;-)

[2021-02-01 03:27] marcelofcastro commented on #112
Yeah, I also think this issue is fixed. I've checked everything and everything seems ok in the main library. I think this issue can be closed, if you agree. If we find something later it's going to be an easy fix anyway...

[2021-02-07 19:44] #206 closed

[2021-02-08 07:35] dietmarw commented on #206
@tinrabuzin  So is your issue resolved?

[2021-02-08 18:33] marcelofcastro commented on #112
@dietmarw, I am closing this issue. As I said, if we find something later it'll be just a small fix. The issue is basically solved.

[2021-02-08 18:33] #112 closed

[2021-03-04 09:06] sorrento opened #269 "ApplicationExample IEEE_9_Buses misses VoltDependant Load"
In line 28 of
OpenIPSL/OpenIPSL/ApplicationExamples/IEEE9/IEEE_9_Buses.mo

` OpenIPSL.Electrical.Loads.PSAT.VoltDependant`

I understand it shoud say:
`OpenIPSL.Electrical.Loads.PSAT.VoltageDependent`

which is a model inside the library

[2021-03-04 09:23] dietmarw commented on #269
Yes this was renamed (and corrected the spelling) for 2.0.0 dev but nut included in the conversion rules it seems. So might be a good idea to add it there.

[2021-03-04 09:36] sorrento commented on #269
It happens the same in IEEE_14.  It seems it also changed the parameter V_0 ->v_0

[2021-03-04 09:37] dietmarw commented on #269
Yes there are a lot of changes since 1.5.0 hence the application examples need to get carefully investigated in order to move them into OpenIPSL

[2021-04-23 09:53] dietmarw opened #270 "Which parameters should be activated for GENCLS and which are initial"
The model `OpenIPSL.Electrical.Machines.PSSE.GENCLS` has currently all power flow variables deactivated which is probably not quite correct. This is also demonstrated in https://youtu.be/DZ_hcUXPjMA?t=745

The core reason of the deactivation of the power flow parameters stems from the misleading/missing documentation of the component itself. It has the name "inf" on the icon  which suggests this i

[2021-04-23 13:36] marcelofcastro commented on #270
GENCL, as you said, is a model that has two functions: it should be capable of representing a classical machine model when H is set >0 and it should represent an infinite bus if H = 0. This is exactly how it is done in PSSE and this is why we need to represent infinite buses using GENCLS if we want to compare results with PSSE (so that would be the reason why the answer to your last question is no

[2021-04-23 17:45] dietmarw commented on #270
@marcelofcastro Your suggestions sound good although I would like to always have `%name` visible on the icon (on all models in OpenIPSL actually) so that one can see the instance names right away. Helps with plotting etc and some models where the instance names are unfortunate. The conditional display is possible though will not be supported in OMEdit (yet one hopes).

I'll start a PR and post a l

[2021-05-05 21:24] pipeacosta commented on #269
Hi. I will post it here because I think it could be related to this issue. In the TwoAreas application example:
- PSAT: Warning: maximal number of iteration reached but no root found. nonlinear system 429 fails: at t=0
- PSSE: The same warning, followed by: "The initialization finished successfully without homotopy method.", after that:
division by zero in partial equation: sqrt(Line9_10.vs.re ^ 2

[2021-05-06 06:17] dietmarw commented on #269
Hi @pipeacosta
My advice would be to stick with the last official released OpenIPSL 1.5.0 until the final 2.0.0 is released later this year. That will then also contain the updated application examples (which also will mainly focus on the PSSE variants). Now in OpenIPSL 1.5.0 the PSAT model simulates w/o problems, both in OpenModelica and Dymola. The PSSE version however will only succeed in Dymol

[2021-05-21 14:31] lvanfretti commented on #270
@dietmarw some feedback here. In all power system programs, the infinite bus only applies for power flow. What the programs do internally is to replace the infinite bus with a GENCLS with a very high inertia to "fix" the frequency of the system. Next, another use of the GENCLS is to approximate external areas, in that sense you will set the fixed P and Q to a specific value being either absorved o

[2021-05-25 09:44] dietmarw commented on #270
OK I understand. So I propose to change it as such that it does not claim to be a infinite bus but document the two modes of operation:
 1. Infinite bus with `H=0`, which means that `v` and `f` can be parametrised and stay fixed. Parameters `P` and `Q` have no meaning.
 2. Large Generator (`H>0`), which means that `P` and `Q` in addition to now only **initial** `v` and `f` can be parametrised. `P`

[2021-05-26 08:33] lvanfretti commented on #270
The analysis is correct, I would propose the following options and wording:

1. Instead of saying that P and Q have no meaning, maybe we can state: `P` and `Q` will be computed from the model to make `v` and `f` constant.

2. ``Classical Generator'' model with physically-meaningful parameters, such as `H>0` (e.g. `H = 5` in a 100 MVA base) ... continue the description above ...  Application: Can b

[2021-05-26 10:10] dietmarw commented on #270
I've created #273 which should fix this and also make GENCLS parametrisable again. @sergio-dorado please have a look too.

[2021-06-03 07:20] #270 closed

[2021-06-04 06:42] #262 closed

[2021-07-27 08:03] zvalasksa opened #276 "Bus"
I start learning Modelica, can someone tell me how i can change the component form for example the Bus and line
when i draw a Bus or Line is having a Square Form

[2021-07-31 17:58] lvanfretti commented on #276
If you want to edit the graphical appearance, you need to resize the object on the graphical view or alternatively modify the model/class you are instantiating within its Icon layer.
Please note, this is not a forum to ask generic Modelica questions, the Issues tab should only be used to report bugs or similar related to OpenIPSL. Please ask generic Modelica questions somewhere else, if you are us

[2021-07-31 17:58] #276 closed

[2021-07-31 18:48] lvanfretti opened #277 "GGOV1 variant for linearization or update using Pade model"
@ManuelNvro and @dietmarw

@sergio-dorado reported an issue over email that I will add below.

When attempting to linearize certain blocks (e.g. the delay=`Modelica.Blocks.Nonlinear.FixedDelay` model), any Modelica tool should fail.  This is expected when using that model as it is not possible to linearize it, it does not use either functions for derivatives or a smooth operator-based implementati

[2021-08-01 16:50] marcelofcastro commented on #277
couldn't we just set the environment variable, as suggested by the log? I guess that replacing the delay block, which is supposed to be the correct way of doing it, by a Pade approximation, for example, would be just constraining a model of its full behavior just for the sake of linearization. It doesn't seem wise to me to fully modify the block. In addition, if we can just set the environment var

[2021-08-01 17:17] lvanfretti commented on #277
I agree with using the choice and allowing to select between models, that seems to be the best way forward.

Luigi

[2021-08-09 06:49] dietmarw commented on #277
I agree with @marcelofcastro that we really should not restrict the dynamic models for the sake of linearisation which kind of defeats the powers of the dynamic simulations possible in Modelica. So if one wants to linearise it for a certain application then this should happen by using the suggested env variable offered by the tool and not changing the model implementation itself.

[2021-08-16 19:27] lvanfretti commented on #277
Marcelo and Dietmar

I did a bit more digging, I created a simple model to reproduce the error.
Dymola’s developer has confirmed the way of setting the flag.

Now, you can see from his response below that when using the flag the delay is approximated assuming a very large time horizon and suggests that we use a Pade approximation.

So, I think we should have a “choice” for the models at the top le

[2021-09-03 09:02] dietmarw commented on #277
I've checked and the `FixedDelay` is used only in:
- `OpenIPSL.Electrical.Controls.PSSE.TG.BaseClasses.GGOV1.Turbine`
- `OpenIPSL.Electrical.Solar.KTH.PFblocks.MPPT`
The latter is probably not even present any more after merge of #267
So I think it is overkill to add a global parameter just to trigger **one** change in **one** model. Instead what I suggest we can do is to make the `delay` block re

[2021-09-03 12:16] lvanfretti commented on #277
Sounds like a great approach.
We should also add default parameters for the delay, let me look that up when I get to the office.

[2021-09-21 21:23] junjie-zh commented on #207
Hi @dietmarw, I'm actually using OpenModelica to run this example and just noticed that you're one of the contributors :) Could you please try to run it with OpenModelica? In my case, OM 1.14 and 1.17.0 didn't work.

[2021-09-22 06:03] dietmarw commented on #207
@junjie-zh Like I said last time. Make sure you are running the example from the last official release which is still v1.5.0. I just tested it again and it runs (slowly) in OM 1.1.18 and Dymola2020.

[2021-09-22 08:53] junjie-zh commented on #207
Thanks again for the quick reply.
I've checked and pretty sure that the version is v1.5.0 (with `git log` I can see `commit 4b97ac8de5992289ad6327e3bd6dca4cdb985393 (HEAD, tag: v1.5.0)`)
The problem could also be from the simulation or translation flags for the OM, could you please share me your configurations? And perhaps the integration method, etc., in your simulation. That would be very helpfu

[2021-09-22 08:55] dietmarw commented on #207
But what is the Error you are experiencing? Mind it will take a **very** long time to simulate so it might look the model is stuck when really it is just slow.

[2021-09-22 09:30] junjie-zh commented on #207
At the beginning there were many zero-division warning like below:

In the end the simulation fails with:

[code]

For the solver I tried with implicit-euler, dassl, and ida.

P.S. I switched to a Windows machine with OM-1.18.0, since its memory is larger than my ubuntu one. The version of openIPSL is still `v1.5.0`

[2021-11-07 01:55] marcelofcastro commented on #67
@dietmarw and @lvanfretti

I was checking the license agreement for the Building's library and I noticed they add a paragraph in the end of the BSD clause 3 for contributors. I thought about adding the same paragraph in the end of the license, like the one below:

Contributor Agreement:
You are under no obligation whatsoever to provide any bug fixes, patches, or upgrades to the features, functiona

[2021-11-07 14:12] lvanfretti commented on #67
@marcelofcastro this would work fine for me, but let's see what @dietmarw thinks about it.

[2021-11-09 07:54] dietmarw commented on #67
By adding any more text to the original license text you would be basically creating a new (and no-longer OSI approved) variant of the BSD license. So I would stay away from such modifications. **But** the text itself is a very good template for a CLA that people need to (digital) sign when contributing to the project.

[2021-11-09 15:26] marcelofcastro commented on #67
Okay, so what about separating them?

We have the BSD license in one file so people can look at that. In the contribution section we can make a link to this paragraph saying that, if they want the enhancements to be on OpenIPSL, they are acknowledging that paragraph and from now on the enhancement will be under OpenIPSL's BSD license.

It might be a way of not modifying the BSD right?

[2021-11-09 15:29] dietmarw commented on #67
You simply put the orginal BSD3 license file in the repository and activate the https://cla-assistant.io/ with the other text. Still needs to be adapted though.

[2021-11-09 15:32] lvanfretti commented on #67
@marcelofcastro I looked at what Dietmar mentioned and he is right, we cannot make any modifications to the BSD license text, that modifies the license and it is no longer in the list from OSI: https://opensource.org/licenses

That will make it a "weird" thing that some people, like government agencies funding work, are not familiar with and will make exception for, which is the issue that we want

[2021-11-09 15:51] marcelofcastro commented on #67
I suggested the inclusion of that paragraph because buildings library has done it. And they continue to collaborate with government agencies and so on. It looked like a nice way to include the CLA.

Anyway, we can go as @dietmarw suggested. I will include the modified version of the BSD3 (modified because we need to put the info from the library on the text like name of the product, year and who's

[2021-11-09 16:08] lvanfretti commented on #67
@marcelofcastro one would assume that "What’s good for the goose is good for the gander," but remember the Buildings library is from LBNL, a big national lab, and not our rickety team of outcasts.

What I want to avoid is an application reviewer finding an excuse to reject an application due to a technicality... you know how people is by now, they won't treat us fairly compared to some big fish te

[2021-12-04 16:24] lvanfretti commented on #264
Approvals from RTE, AIA and DTU were obtained as per the attached .pdf
[License Agreement for OpenIPSL.pdf](https://github.com/OpenIPSL/OpenIPSL/files/7654223/License.Agreement.for.OpenIPSL.pdf).

Following the dev meeting with @dietmarw and @marcelofcastro, the license will be changed to BSD3 as per #281.

[2021-12-09 18:28] lvanfretti opened #282 "Enhancements from meeting with user"
Hi @dietmarw and @marcelofcastro

I had a meeting with one of our users, Prof. Massimo Ceraolo, @max-privato , he provided me the following valuable feedback.
These are my notes, @max-privato, could clarify further if needed.

@marcelofcastro do you think we can apply these for a future release? In such case, which one?

General Enhancements:
- Icon view for base connector should be consistent, p

[2021-12-19 00:10] max-privato commented on #282
I would like to express these recommendations in a way that shows that there a common ground around them.

**1) positive and negative pins.**

Positive and negative pins should have different appearances, exactly as it occurs in all the two-terminal components in MSL. this would help to interpret output quantities, i.e. voltages and currents (both terminals have a voltage and current of their own,

[2022-03-11 15:20] #67 closed

[2022-03-11 15:20] #162 closed

[2022-03-11 15:20] #165 closed

[2022-03-11 15:20] #201 closed

[2022-03-11 15:20] #264 closed

[2022-03-15 14:03] marcelofcastro commented on #246
As discussed (@dietmarw and @lvanfretti) a good location for application examples would be:

OpenIPSL.Examples for the test systems in Application Examples
OpenIPSL.Tests for the current OpenIPSL.Examples

[2022-03-15 14:17] marcelofcastro opened #285 "CLA assistant not operational"
Currently the CLA is not working as expected. Apparently, this is because the `cla.yml` file was not properly set.

In order to make it run, it is necessary to set:
- [x] GitHub Token
- [x] Personal Access Token
- [x] Create branch w/ push-pull permissions for signatures

[2022-03-15 14:59] marcelofcastro commented on #285
CLA Assistant appears to be operating fine now. Will wait for PRs #283 and #284 to be successfully merged to close this issue.

[2022-03-15 17:44] #285 closed, assigned to marcelofcastro

[2022-05-06 14:46] #246 closed

[2022-05-06 16:11] marcelofcastro commented on #269
@dietmarw I believe this issue is solved with PR #286

[2022-05-09 06:28] dietmarw commented on #269
Yes, I agree.

[2022-05-11 13:02] dietmarw commented on #277
@lvanfretti I've just created a fix for this and all that is missing now is some nice defaults which we can add as documentation in the info layer. Did you manage to get to your office in the mean time ;-)

[2022-05-11 13:41] lvanfretti commented on #277
@dietmarw working from home today buddy! I'll go an approve that fix, thank you!

[2022-05-12 12:50] #277 closed

[2022-05-12 13:03] dietmarw commented on #277
Yes, make a new ticket for 3.1.0 (for now). The selection of models can be done via parameter (already done in `OpenIPSL.Electrical.Machines.PSSE.Plant`) but question is how often will this be needed? Anyway, have a new ticket and continue the discussion there.

[2022-05-12 13:08] dietmarw commented on #277
Actually! It is a VERY simple fix by adding "choicesAllMatching=true"

[2022-05-12 13:10] lvanfretti commented on #277
I tried that but was not behaving how I was expecting it to if you see the removed commented text in [fea08e4](https://github.com/OpenIPSL/OpenIPSL/pull/288/commits/fea08e4bca3d71822ff956933044d33889dae9d1), maybe you have better luck? I'll open the other issue anyway.

[2022-05-12 13:16] lvanfretti opened #289 "GGOV1 - Enhancements - Enable variants for linearization from the top layer"
Follow-up from #277, this issue is to document a potential enhancement, for user friendliness to implement in future releases.

- [x] Provide means to select which model to replace by, i.e. select between Pade or Fixe, from upper level (GGOV1) layer, through some means. Via parameter (?).
- [x]  Create test model for Pade variant.
- [ ] Create application case. This should be an example to show ho

[2022-05-12 13:18] lvanfretti commented on #289
See:
- https://github.com/OpenIPSL/OpenIPSL/issues/277#issuecomment-1124972847 and
- https://github.com/OpenIPSL/OpenIPSL/issues/277#issuecomment-1124975699
For future discussion.

[2022-05-12 13:25] dietmarw commented on #289
I've started #290 which now adds (in Dymola) the following dialogue:
![image](https://user-images.githubusercontent.com/9332/168085479-deade6b0-156f-4e00-b8ed-c36e7130f67d.png)

[2022-05-12 13:42] dietmarw commented on #289
I forgot to propagate the choice also upwards into the `GGOV1` and `GGOV1DU` models. That's done now.

[2022-05-12 14:35] lvanfretti commented on #289
@dietmarw see testing issue on https://github.com/OpenIPSL/OpenIPSL/pull/290#issuecomment-1125071324

[2022-05-24 14:34] marcelofcastro commented on #245
GGOV1 and GGOVDU1 should have their implementation enhanced (probably with the better implementation of basic blocks), as discussed in PR #290

[2022-05-24 14:58] dietmarw commented on #289
I think we should create a new issue for
"
 Create application case. This should be an example to show how to compare model variants in time-simulation, compare linearized vs non-linear variant model responses.
"
What do you think @marcelofcastro

[2022-05-24 15:06] marcelofcastro commented on #289
I think it's a good idea to do that, @dietmarw. So we can set the 3.1.0 milestone to that issue, right?

[2022-05-24 15:06] dietmarw commented on #289
Yes, exactly. And close this issue here.

[2022-05-24 15:16] marcelofcastro commented on #289
Sounds good!

[2022-05-26 16:51] marcelofcastro commented on #173
I have investigated this issue and I've found several tiny issues with the frequency calculator. First of all, the frequency calculation should be `(Vr*der(Vi) - Vi*der(Vr))/ (Vr^2 + Vi^2)` as @dietmarw and @BiswarupM mentioned above. However, the block `FrenquencyCalc` had it `(Vi*der(Vr) - Vr*der(Vi))/ (Vr^2 + Vi^2)` and that needed to be fixed.

In addition, I had to do some other small adjustm

[2022-05-27 14:07] marcelofcastro opened #292 "Creating Application Case for linearization involving GGOV1/GGOVDU1"
This is a follow-up to issue #289.

It is necessary to create an application case of the linearization of model GGOV1/GGOVDU1. It should be an example showing how to compare model variants in time-simulation and comparing linearized vs non-linear variant model responses.

It is an excuse of showing potential problems of linearization when sub-components are non-linearizable, hence, creating this a

[2022-05-27 14:08] marcelofcastro commented on #289
The last task here is now tracked in issue #292 and I am closing this one.

[2022-05-27 14:09] #289 closed

[2022-05-28 15:53] marcelofcastro commented on #173
Another thing that must be kept in mind @dietmarw is that the softPMU should not give you the exact frequency, since it is a measurement device supposed to estimate local frequency from a bus using the information from the phasor angle.

Indeed we could use simply `der(angle)` or, as you suggested, `der(atan2(Vi/Vr))` but @BiswarupM and @lvanfretti opted for using a different way to estimate the f

[2022-05-30 14:22] dietmarw commented on #173
I just ran your IEEE9 bus example with `Ts = 0.05 s` and get the following result which is quite different to the one you are showing:
![image](https://user-images.githubusercontent.com/9332/171010675-d53247c0-6ff3-46fe-968c-8ea8eb4d6965.png)

I could not find where `Ts` is propagated to. Did you forget to push the latest change?

[2022-05-30 15:03] dietmarw commented on #173
I've fixed the propagation of Ts now and get the same result. I'm still wondering how useful a PMU device is that even after 1 second after an event still has an error of 0.2 Hz when changes of more than 0.1 Hz are already seen as sever. Could you give a pratical example where the application of a PMU would be fine with such a large margin of error?

[2022-05-31 14:01] dietmarw commented on #173
But that is the point, the softPMU is just a wrapper around the FrequencyCalc block and the level of error that generates (ignoring even the spikes) makes its practical use highly questionable. I just like to make sure that users don't get the impression that the softPMU will actually give an output of practical use.

[2022-05-31 14:50] #160 closed

[2022-05-31 14:57] #173 closed

[2022-05-31 16:12] lvanfretti commented on #173
In the future I want to have @marcelofcastro or someone else implement the methods we studied with real world measurements data here: https://sites.ecse.rpi.edu/~vanfrl/documents/publications/conference/2022/CP207_Chetan_Derivatives_PESGM_lvrev.pdf

We may also want to try to use complex step derivative: https://mdolab.engin.umich.edu/wiki/guide-complex-step-derivative-approximation#:~:text=The%20

[2022-06-06 12:58] marcelofcastro opened #296 "PSSE Model Tracker"
This issue is created to track the addition of PSSE models into OpenIPSL. They are:

Machines:
- [ ] GENTPJ

Exciters:
- [ ] AC7B
- [ ] AC8B
- [ ] DC4B
- [ ] ESURRY

Excitation Limiters/ Compensators:
- [ ] IEEEVC
- [ ] MNLEX2

Turbine Governors:
- [ ] IEEEG2
- [ ] WEHGOV
- [ ] WPIDHY
- [ ] WSIEG

Renewable Sources:
- [ ] REGCA1
- [ ] REECB1
- [ ] REECCU1
- [ ] REPCA1

[2022-06-07 20:47] hubertus65 commented on #263
Hi @marcelofcastro: why did you move this to release 3.1.0 again?

[2022-06-08 06:03] dietmarw commented on #263
@hubertus65 It was decided to not include this in the 2.0.0 release in order that 2.0.0 can be released soon (this will actually happen today). At the same time, we decided to release version 3.0.0 immediately afterwards. The difference is that 3.0.0 will use MSL 4.0.0. Any future extension will then happen on the MSL 4.0.0 based versions, i.e., 3.x.0. I hope that clarifies this.
Once 3.0.0 is rel

[2022-06-08 06:16] #247 closed

[2022-06-08 07:36] dietmarw commented on #296
Some of the models are already available as drafts in https://github.com/marcelofcastro/OpenIPSL/tree/add-new-models

[2022-06-08 13:51] hubertus65 commented on #263
I see and thought something like that was up. It makes sense, we are on MSL 4.0.0 anyways. I hope that all the changes that Giuseppe did are easy to upgrade to MSL .0. They should, ...

[2022-06-08 14:25] lvanfretti commented on #263
@hubertus65 one thing that has been holding @GiuseppeLaera up is access to the computer he used at Modelon, so he can get all the models out of it and so on. If you can help with that, then it will be more likely all improvements can be included.

[2022-06-08 19:50] marcelofcastro commented on #296
True @dietmarw, but I am so confused by that branch that has been long forgotten that I'd prefer to prepare another branch with those models for a PR. Or maybe working with that branch but with way more caution.

[2022-06-21 22:51] GiuseppeLaera opened #301 "'abs' function not properly converted to MSL 4.0.0"
When I checked the GENROU model from OpenIPSL ver. 3.0.0 with Dymola 2023 I got the following error message:
![image](https://user-images.githubusercontent.com/15262466/174908874-28ee4576-b5e0-4782-8236-e7cb0ada1abf.png)
Trying to fix the error I added the following line importing the "abs" function:
`import Modelica.ComplexMath.abs;`
and the function "abs" has been used in the model without singl

[2022-06-22 06:19] dietmarw commented on #301
Nice catch. I prepared #302 to fixe this. We now need to decide if we want to create a 3.0.1 bug fix release for this.

[2022-06-23 05:47] #301 closed

[2022-07-04 07:59] lvanfretti opened #305 "Annotation for DAE Mode in OM's Coverage Testing"
According to recent correspondence with the OM team, we can add the following annotation to Examples and Test models if we want to have them simulated with daemode:
`annotation(__OpenModelica_commandLineOptions = "--daeMode");`
Results from coverage in OpenModelica are listed here:
https://github.com/OpenModelica/OpenModelica/wiki/Library-Coverage-Testing
Master Branch:
https://libraries.openmodel

[2022-08-15 14:26] lvanfretti opened #307 "SystemModeler v13.0, v13.1 issues"
There are some issues with the latest version of WSM, this is the email sent to WSM development team:

Hello WSM Friends,

We have recently released a new version of our library (V3.0.1) supporting MSL 4.0.0.

Just when I thought we didn't have any compatibility issues with WSM, we got a nasty bug popping up that was reported to me by one of your industrial users, Mr. Glen in cc.
![image](https://

[2022-08-15 14:27] lvanfretti commented on #307
Response from  WSM team:

Hi Luigi,

Sorry for the slow response, I have been out of the office until today.

The response from one of the developers on this issue:

This is a known issue in the Modelica Specification. We tried to make it change but it is taking time:
https://github.com/modelica/ModelicaSpecification/issues/2602

Since the opinion of the community seems to be in favor of relaxing

[2022-08-15 14:30] lvanfretti commented on #307
Follow up tests done by @gkhalley:

The Build finished for the following system:
Open IPSL 3.1.0-dev
IEEE_9_Buses example
WSM 13.1
Modelica 4.0.0
![image](https://user-images.githubusercontent.com/7248948/184654760-17940f34-1254-47ad-8c3e-f8d54aeb2777.png)
From the Simulation Center:

[code]

Glen

[2022-08-15 14:31] lvanfretti commented on #307
New email sent to WSM to address issue:

Hi Malte,

As you can see below, my colleague, Glen, was able to run tests with version 13.1 and we are having some major problems with initialization.
Do you have a newer version of WSM in beta that we can test?

After discussing it with Glenn, we concluded that it must be an issue with version 13, since he also did not find any of these issues with versio

[2022-08-15 14:32] lvanfretti commented on #307
As of 08/15/2022 - Luigi working on getting access to beta version of WSM 13.2 for testing if issue still appears.

[2022-08-16 14:36] maltelenz opened #308 "Invalid relations on reals"
There are multiple occurrences of relations used on Real, which are invalid according to the Modelica specification. Here are the first few cases I found:

https://github.com/OpenIPSL/OpenIPSL/blob/f02576fcbf70ac28039bda2a463b71b002150f73/OpenIPSL/Electrical/Branches/PSAT/TwoWindingTransformer.mo#L44

https://github.com/OpenIPSL/OpenIPSL/blob/f02576fcbf70ac28039bda2a463b71b002150f73/OpenIPSL/Elect

[2022-08-16 22:35] lvanfretti commented on #308
Thanks @maltelenz, some of these have been taken care in https://github.com/OpenIPSL/OpenIPSL/pull/265 but not yet in main branch, @marcelofcastro will take a look at it after August 31st.

[2022-10-09 19:47] tbeu commented on #308
See #310.

[2022-10-12 06:10] #308 closed

[2022-10-14 10:42] dietmarw opened #314 "Prefer Text.textColor attribute (and do no longer use deprecated Text.lineColor)"
This is just to keep track of this extension originally provided in #311. As there are still developers working with tools which will write out `lineColor` instead of `textColor` it would currently just cause issues to have CI checking for it. So we can come back to this once the Luddite devs have moved on.

[2022-10-31 13:49] maltelenz opened #315 "More invalid == on Real"
There are a few more cases of using invalid relation operators on Reals, given below:

[code]

[code]

[code]

[2022-10-31 13:53] maltelenz opened #316 "Cyclical dependency on function input"
The function input `K_C` in `OpenIPSL.Electrical.Controls.PSSE.ES.BaseClasses.invFEX` has a cyclical dependency:

[code]

[2022-10-31 13:59] maltelenz opened #317 "Connect on non-connectors"
In `OpenIPSL.Electrical.Solar.PowerFactory.General.ElmGenstat` there is:

[code]

But neither `sinu` nor `cosu` are connectors.

System Modeler reports this when validating `OpenIPSL.Tests.Solar.PowerFactory.DIgSILENT_PV`:

[2022-11-02 01:56] lvanfretti commented on #316
Thanks @maltelenz! Hopefully @marcelofcastro can take a look at this soon.

[2022-11-02 02:04] lvanfretti commented on #317
Thanks @maltelenz.

I guess I'll have to take a look a this one. This is a very old model and corresponds to an implementation done in a MSc thesis of a generic model before the reference tool had a native PV model. Now we have a pull request #267 that is an reimplementation of a native model in Modelica, so I am wondering if we should simple get rid of the "user defined" model and keep only the o

[2022-11-04 12:35] dietmarw commented on #317
I like to forward the question to @tinrabuzin. Do you think the `ElmGenstat` model can/should be removed in favour of the models that you created as part of #266?

[2022-11-04 12:54] tinrabuzin commented on #317
@dietmarw

I think that `ElmGenstat` was actually cleaned-up by me in #266 and I vaguely remember why I had this connect on non-connectors. I think I wanted to be able to switch between PLL-computed angles and the actual angles.

I don't know if we can just write the following instead?
[code]

[2022-11-04 12:57] tinrabuzin commented on #317
Also, just FYI, the models in #266 are not the same as in #267, i.e. we cannot just replace the ones from #266 with the one in #267. The former is a much more detailed mode while the latter is a model of distributed PVs.

[2022-11-04 12:59] dietmarw commented on #317
So the way I understood it, so are #267 additional models.

[2022-11-04 13:16] dietmarw commented on #317
No, the solution is to make sinu and cosu protected outputs. However, there seems to be an even more sever problem. Running `Tests.Solar.PowerFactory.DIgSILENT_PV` gives:

Model error - division by zero: (1.0) / (pv_plant.busbar.integrator.y) = (1) / (0)

Which is not surprising given that `pv_plant.busbar.integrator.y` is initialised as 0. Question is, what should be the initial value be?

[2022-11-04 13:37] lvanfretti commented on #317
@dietmarw , #266 was originally implemented by Farhan in PowerFactory when it did not have any PV models and then I got him to work in iTesla to implement it in Modelica for the library. The original PowerFactory implementation is documented here: http://urn.kb.se/resolve?urn=urn:nbn:se:kth:diva-105746

So, I believe this model should be under .Solar.PowerFactory.Generic instead of under .Solar.Po

[2022-11-04 15:46] tinrabuzin commented on #317
The old model was unusable. The model in #266 is according to the existing native implementation from DigSILENT.

[2022-11-15 12:24] dietmarw commented on #315
This should now be fixed in #325 and #326

[2022-11-15 12:24] #315 closed